<div class="container-fluid container background-back-link">
  <%= link_to raw("<i class='fa-solid fa-circle-arrow-left'></i>"), admin_booking_path(@booking), class: "back-link" %>
</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= cl_image_path @booking.room.main_photo.key %>')">

  <main class="container">
    <div class="py-3" style="background-color: rgba(0, 0, 0, 0.4);">

      <header>
        <h3 class="px-5 text-center text-white">Modifier la réservation de <%= @booking.user.first_name %> <%= @booking.user.last_name %></h3>
      </header>

      <div class="div p-3 text-white">

        <%= simple_form_for [:admin, @booking], url: admin_booking_path(@booking) do |f| %>
          <div class="row">
            <div class="col-12 col-md-6"><%= f.input :arrival, as: :datetime, html5: true, label: "Arrivée" %></div>
            <div class="col-12 col-md-6"><%= f.input :departure, as: :datetime, html5: true, label: "Départ" %></div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6"><%= f.input :guests_number, label: "Nombre de personnes", collection: (1..@booking.room.max_guests) %></div>
            <div class="col-12 col-md-6"><%= f.input :status, label: "Statut", collection: ["acceptée", "en attente", "refusée"] %></div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4"><%= f.input :paid, label: "Payée" %></div>
            <div class="col-12 col-md-4"><%= f.input :refund, label: "Remboursée" %></div>
            <div class="col-12 col-md-4"><%= f.input :refund_amount, label: "Montant remboursé" %></div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <%= label_tag :first_name, 'Prénom', class: "form-label" %>
              <%= text_field_tag :first_name, @booking.user.first_name, class: "form-control" %>
            </div>
            <div class="col-12 col-md-4">
              <%= label_tag :last_name, 'Nom', class: "form-label" %>
              <%= text_field_tag :last_name, @booking.user.last_name, class: "form-control" %>
            </div>
            <div class="col-12 col-md-4">
              <%= label_tag :email, 'Email', class: "form-label" %>
              <%= email_field_tag :email, @booking.user.email, class: 'form-control' %>
            </div>
          </div>
          <div class="pt-3">
            <%= f.input :comment, label: "Commentaires" %>
          </div>
          <div class="py-3 d-flex justify-content-center">
            <%= f.submit "Modifier", class: "button-blue" %>
          </div>
        <% end %>

      </div>

    </div>
  </main>

</div>
