<div class="container-fluid container background-back-link">
  <%= link_to raw("<i class='fa-solid fa-arrow-left-long'></i> <span>Dashboard</span>"), admin_root_path, class: "back-link" %>
</div>

<div class="p-5 header-blue">
  <h1 class="px-5"><%= @title %> (<%= @amount_bookings %>)</h1>
</div>

<div class="container py-3" >
  <div class="d-flex justify-content-around py-2">
    <%= link_to "Toutes", admin_bookings_path, class: "btn btn-primary button-medium" %>
    <%= link_to "A venir", admin_bookings_path(filter: "upcoming"), class: "btn btn-primary button-medium" %>
    <%= link_to "Passées", admin_bookings_path(filter: "past"), class: "btn btn-primary button-medium" %>
  </div>
  <div class="d-flex justify-content-around py-2">
    <%= link_to "Acceptées", admin_bookings_path(filter: "acceptée"), class: "btn btn-success button-medium" %>
    <%= link_to "En attente", admin_bookings_path(filter: "en attente"), class: "btn btn-warning button-medium" %>
    <%= link_to "Refusées", admin_bookings_path(filter: "refusée"), class: "btn btn-danger button-medium" %>
  </div>
  <div class="d-flex justify-content-around py-2">
    <%= link_to "Maison", admin_bookings_path(filter: "house"), class: "btn btn-info button-medium" %>
    <%= link_to "Chambre", admin_bookings_path(filter: "bedroom"), class: "btn btn-info button-medium" %>
  </div>

  <div class="row">

  <% @bookings.each do |booking| %>
    <div class="my-4 col-12 col-lg-6">
      <%= link_to admin_booking_path(booking), class: "text-decoration-none text-black" do %>
        <div class="card-booking">

          <% if booking.room == Room.first %>
            <%= image_tag "#{booking.room.name}/maison.png" %>
          <% elsif booking.room == Room.last %>
            <%= image_tag "#{booking.room.name}/chambre.png" %>
          <% end %>

          <div class="card-booking-infos">
              <h2 class="text-blue"><%= booking.user.first_name %> <%= booking.user.last_name %></h2>
              <p class="">Arrivée : <%= l(booking.arrival, format: "%A %d %B %Y à %Hh").capitalize %></p>
              <p class="">Départ : <%= l(booking.departure, format: "%A %d %B %Y à %Hh").capitalize %></p>
              <p class="">Nombre de personnes : <%= booking.guests_number %></p>
              <p class="">Nombre de nuits : <%= booking.nights %></p>
              <p class="">Prix total : <%= booking.booking_price %> €</p>
              <p class="">Email : <%= booking.user.email %></p>
              <% if booking.status == "acceptée" %>
                <i class="fa-regular fa-circle-check text-success"></i>
              <% elsif booking.status == "en attente" %>
                <i class="fa-solid fa-clock-rotate-left text-warning"></i>
              <% elsif booking.status == "refusée" %>
                <i class="fa-regular fa-circle-xmark text-danger"></i>
              <% end %>
          </div>

        </div>
      <% end %>
    </div>
  <% end %>

  </div>

    <h4 class="text-center text-blue">Montal total : <%= @total_price %> €</h4>


</div>
