<div class="py-3">
  <%= @booking.id %>
  <%= @booking.user.email %>
  <%= @booking.start_date %>
  <%= @booking.end_date %>
  <%= @booking.guests_number %>
  <%= @booking.booking_price %>
  <%= @booking.status %>
</div>
