<div class="container-fluid container background-back-link">
  <%= link_to raw("<i class='fa-solid fa-circle-arrow-left'></i>"), admin_bookings_path, class: "back-link" %>
</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= asset_path("#{@room.name}.png") %>')">

  <main class="container">
    <div class="py-3" style="background-color: rgba(0, 0, 0, 0.4); position: relative;">
      <header>
        <%= link_to edit_admin_booking_path(@booking), class: "admin-icon", id: "edit" do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
        <%= link_to booking_chatroom_path(@booking, @booking.chatroom), class: "admin-icon", id: "message" do %>
          <i class="fa-regular fa-message"></i>
        <% end %>
        <h2 class="px-5">Réservation de <%= @booking.user.first_name %> <%= @booking.user.last_name %></h2>

      </header>

      <%= render "shared/booking_show/booking_recap", booking: @booking %>

      <%= render "shared/booking_show/booking_status", booking: @booking %>

      <%= render "shared/booking_show/booking_prices", booking: @booking, room: @room, reduction_sentence: @reduction_sentence %>

      <aside id="admin-booking-comments" class="my-3 p-3 mx-auto col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 text-center">
        <h5 class="text-white"><u>Commentaires</u></h5>
        <% if @booking.comment.empty? %>
          <p class="m-0">Pas de commentaires</p>
        <% else %>
          <p class="m-0"><%= @booking.comment %></p>
        <% end %>
      </aside>

      <section id="admin-booking-delete" class="text-center">
        <%= link_to admin_booking_path(@booking),
                  data: {turbo_method: :delete, turbo_confirm: "Supprimer cette réservation ?"},
                  class: "admin-delete-icon" do %>
          <i class='fa-solid fa-trash-can'></i>
        <% end %>
      </section>

    </div>
  </main>

</div>
