<div class="devise-background">
  <main class="container col-12 col-md-8 col-lg-6 devise-form">
    <header>
      <h2 class="text-blue pt-3">Modifier mon profil</h2>
    </header>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">

      <div class="row">
        <div class="col-12 col-sm-6">
          <%= f.input :first_name,
                      label: "Prénom",
                      required: false,
                      input_html: { autocomplete: resource.first_name } %>
        </div>
        <div class="col-12 col-sm-6">
          <%= f.input :last_name,
                      label: "Nom",
                      required: false,
                      input_html: { autocomplete: resource.last_name } %>
        </div>
      </div>

        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    label: "Nouveau mot de passe",
                    hint: "Laissez vide si vous ne voulez pas changer de mot de passe",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    label: "Confirmez votre nouveau mot de passe",
                    hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    label: "Mot de passe actuel",
                    hint: "Entrez votre mot de passe actuel pour confirmer les changements",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="form-actions mb-3">
        <%= f.button :submit, "Modifier mon profil", class: "button-blue" %>
      </div>
    <% end %>

    <div class="separator my-5"></div>

    <div>
      <%= button_to "Supprimer mon compte",
                        registration_path(resource_name),
                        data: { confirm: "Are you sure?", turbo_confirm: "Êtes-vous sûr ?" },
                        method: :delete,
                        class: "button-red-medium" %>
    </div>
  </main>
</div>
