<div class="devise-background">
  <div class="container col-12 col-md-7 col-lg-5 devise-form">
    <header>
      <h2 class="text-blue">Créer un compte</h2>
    </header>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="row">
          <div class="col-12 col-sm-6">
            <%= f.input :first_name,
                        required: true,
                        label: "Prénom",
                        autofocus: true,
                        input_html: { autocomplete: "first_name" } %>
          </div>
          <div class="col-12 col-sm-6">
            <%= f.input :last_name,
                        required: true,
                        label: "Nom",
                        autofocus: true,
                        input_html: { autocomplete: "last_name" } %>
          </div>
        </div>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: true,
                    label: "Mot de passe",
                    hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    label: "Confirmer mot de passe",
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions mb-3">
        <%= f.button :submit, "Créer un compte", class: "button-blue" %>
      </div>
    <% end %>

    <div class="separator"></div>
    <div class="py-2">
      <h5 class="text-blue">Vous avez déjà un compte?</h5>
      <%= link_to "Se connecter", new_user_session_path, class: "button-dark" %>
    </div>

    <div class="separator"></div>
    <div class="py-2">
      <h5 class="text-blue">Mot de passe oublié ?</h5>
      <%= link_to "Nouveau mot de passe", new_password_path(resource_name), class: "button-dark" %>
    </div>

  </div>
</div>
