<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue sur residence-lestang.herouapp.com, <%= @user.first_name.capitalize %> <%= @user.last_name.upcase %></h1>
    <p>
      Votre compte a été créé avec succès.
      Rappel de vos informations :
      <ul>
        <li>Email : <%= @user.email%> </li>
        <li>Prénom : <%= @user.first_name.capitalize %> </li>
        <li>Nom : <%= @user.last_name.upcase %> </li>
      </ul>

    </p>
    <p>
      Pour vous connecter au site, suivez ce lien : <%= @url %>
    </p>
    <p>Merci de votre intérêt pour notre logement, passez une bonne journée !</p>
  </body>
</html>
