<div class="container-fluid container background-back-link">
  <%= link_to raw("<i class='fa-solid fa-circle-arrow-left'></i>"), admin_room_seasons_path, class: "back-link" %>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= asset_path("#{@room.name}.png") %>')">

  <div class="container">

    <div class="p-3" style="background-color: rgba(0, 0, 0, 0.6); position: relative;">

      <%= link_to raw("<i class='fa-solid fa-trash-can'></i>"),
                admin_room_season_path(@room, @season),
                data: {turbo_method: :delete, turbo_confirm: "Supprimer cette période ?"},
                class: "text-decoration-none text-white",
                style: "font-size: 24px; position: absolute; right: 12px; top: 8px" %>

      <header class="text-center">
        <h2 class="px-4">Modifier la période : </h2>
        <h4 class="text-white m-0"><%= l(@season.start_date, format: "%d %B") %> <span style="font-size: 0.5em">aprem</span> - <%= l(@season.end_date, format: "%d %B %Y") %> <span style="font-size: 0.5em">matin</span> </h4>
        <p class="m-0">Nb de nuits minimum : <%= @season.min_nights %> </p>
      </header>

      <%= simple_form_for [:admin, @season], url: admin_room_season_path(@room, @season) do |f| %>
        <div class="row text-white py-3">
            <div class="col-12 col-md-6 col-lg-4">
              <%= f.input :start_date, as: :date, html5: true, label: "Début", hint: "Après-midi", hint_html: {class: "text-white fst-italic"} %>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <%= f.input :end_date, as: :date, html5: true, label: "Fin", hint: "Matin", hint_html: {class: "text-white fst-italic"} %>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <%= f.input :min_nights, label: "Nuits minimum" %>
          </div>
        </div>
        <div class="text-center">
          <%= f.submit "Modifier", class: "btn btn-light" %>
        </div>
      <% end %>

    </div>

  </div>

</div>
