<div class="container-fluid container background-back-link">
  <%= link_to raw("<i class='fa-solid fa-arrow-left-long'></i> <span>Retour</span>"), admin_room_path(@room), class: "back-link" %>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= asset_path("#{@room.name}.png") %>')">

  <div class="container">
    <div class="py-3" style="background-color: rgba(0, 0, 0, 0.6); position: relative;">

      <h2 class="px-1">Conditions saisonnières de <%= @room.name.downcase %></h2>

      <div class="px-3">

        <div class="row">
          <% @seasons.each do |season| %>
            <div class="col-12 col-md-6 py-2">
              <%= link_to edit_admin_room_season_path(@room, season), class: "text-decoration-none" do %>
                <div>
                  <h4 class="text-white m-0"><%= l(season.start_date, format: "%d %B %Y") %> - <%= l(season.end_date, format: "%d %B %Y") %> </h4>
                  <p class="m-0"><%= season.min_nights %> <%= season.min_nights > 1 ? "nuits" : "nuit" %> minimum</p>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="text-center py-3">
          <h5 class="m-0"><%= link_to "Ajouter une condition", new_admin_room_season_path(@room), class: "text-white" %></h5>
        </div>

      </div>

    </div>
  </div>

</div>
