<div class="container-fluid container background-back-link">
  <%= link_to raw("<i class='fa-solid fa-circle-arrow-left'></i>"), admin_room_seasons_path, class: "back-link" %>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= asset_path("#{@room.name}.png") %>')">

  <div class="container">

    <div class="p-3" style="background-color: rgba(0, 0, 0, 0.6); position: relative;">

      <header>
        <h4 class="text-center text-white">Nouvelle condition saisonnière pour <%= @room.name.downcase %></h4>
      </header>

      <section id="new-season-form">
        <%= simple_form_for [:admin, @season], url: admin_room_seasons_path(@room) do |f| %>
          <div class="row text-white py-3">
              <div class="col-12 col-md-6 col-lg-4">
                <%= f.input :start_date, as: :date, html5: true, label: "Début", hint: "Après-midi", hint_html: {class: "text-white fw-light"}  %>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <%= f.input :end_date, as: :date, html5: true, label: "Fin", hint: "Matin", hint_html: {class: "text-white fw-light"} %>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <%= f.input :min_nights, label: "Nuits minimum" %>
            </div>
          </div>
          <div class="text-center">
            <%= f.submit "Ajouter", class: "button-blue" %>
          </div>
        <% end %>
      </section>

    </div>

  </div>

</div>
