<div class="container-fluid container background-back-link">
  <%= link_to raw("<i class='fa-solid fa-circle-arrow-left'></i>"), :back, class: "back-link" %>
</div>

<header class="p-5 header-blue">
  <h1> Modifier les descriptions de <%= @room.name %></h1>
</header>

<main class="container py-3" style="min-height: 60vh">
  <%= simple_form_for @room, url: admin_update_descriptions_path(@room) do |f| %>
    <div class="mb-3">
      <h3 class="fw-bold">Titre</h3>
      <%= f.rich_text_area :description_title %>
    </div>
    <div class="mb-3">
      <h3 class="fw-bold">Description courte</h3>
      <%= f.rich_text_area :detailed_short_description, label: "Description courte" %>
    </div>
    <div class="mb-3">
      <h3 class="fw-bold">Description détaillée</h3>
      <%= f.rich_text_area :detailed_long_description, label: "Description longue" %>
    </div>
    <div class="py-3 d-flex justify-content-center">
      <%= f.submit "Modifier", class: "button-blue" %>
    </div>
  <% end %>
</main>
