<div class="container-fluid container background-back-link">
  <%= link_to raw("<i class='fa-solid fa-arrow-left-long'></i> <span>Back</span>"), :back, class: "back-link" %>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= asset_path("#{@room.name}.png") %>')">

  <div class="container">
    <div class="py-3" style="background-color: rgba(0, 0, 0, 0.7);">

      <h2>Modifier <%= @room.name %></h2>

      <div class="div p-3 text-white">

        <%= simple_form_for [:admin, @room], url: admin_room_path(@room) do |f| %>

          <h5 class="text-center"><u>Infos</u></h5>
          <div class="row">
            <div class="col-12 col-sm-6 col-xl-3"><%= f.input :max_guests, label: "Nb de voyageurs maximum", hint: "Voyageurs de plus de 2 ans", required: false%></div>
            <div class="col-12 col-sm-6 col-xl-3"><%= f.input :bedrooms, label: "Nb de chambres" %></div>
            <div class="col-12 col-sm-6 col-xl-3"><%= f.input :beds, label: "Nb de lits" %></div>
            <div class="col-12 col-sm-6 col-xl-3"><%= f.input :bathrooms, label: "Nb de salles de bain" %></div>
          </div>

          <h5 class="text-center"><u>Description</u></h5>
          <%= f.input :description, label: false, as: :text, input_html: { class: "long-input" } %>

          <h5 class="text-center"><u>Horaires</u></h5>
          <div class="row">
            <div class="col-12 col-md-6"><%= f.input :arrival_hour, label: "Arrivée", hint: "Ecrire une phrase. Format de l'heure HH:MM" %></div>
            <div class="col-12 col-md-6"><%= f.input :departure_hour, label: "Départ", hint: "Ecrire une phrase. Format de l'heure HH:MM" %></div>
          </div>

          <h5 class="text-center"><u>Prix</u></h5>
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 py-2">
              <%= label_tag :night_price, 'Prix / nuit €', class: "form-label" %>
              <%= number_field_tag :night_price, @room.room_price.night_price, class: "form-control" %>
            </div>

            <% if @room.room_price.medium_guests > 0 %>
              <div class="col-12 col-sm-6 col-md-4 py-2">
                <%= label_tag :night_price_medium_guests, "Prix / nuit € (#{@room.room_price.medium_guests} voyageurs)", class: "form-label" %>
                <%= number_field_tag :night_price_medium_guests, @room.room_price.night_price_medium_guests, class: "form-control" %>
              </div>
            <% end %>

            <% if @room.room_price.high_guests > 0 %>
              <div class="col-12 col-sm-6 col-md-4 py-2">
                <%= label_tag :night_price_high_guests, "Prix / nuit € (#{@room.room_price.high_guests} voyageurs)", class: "form-label" %>
                <%= number_field_tag :night_price_high_guests, @room.room_price.night_price_high_guests, class: "form-control" %>
              </div>
            <% end %>

              <div class="col-12 col-sm-6 col-md-4 py-2">
                <%= label_tag :week_reduction, 'Réduction à la semaine / nuit €', class: "form-label" %>
                <%= number_field_tag :week_reduction, @room.room_price.week_reduction, class: "form-control" %>
              </div>

              <div class="col-12 col-sm-6 col-md-4 py-2">
                <%= label_tag :cleaning_fee, 'Frais de ménage €', class: "form-label" %>
                <%= number_field_tag :cleaning_fee, @room.room_price.cleaning_fee, class: "form-control" %>
              </div>

          </div>
          <div class="py-3 d-flex justify-content-center">
            <%= f.submit "Modifier", class: "button-blue" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
