<div class="container-fluid container background-back-link">
  <%= link_to raw("<i class='fa-solid fa-circle-arrow-left'></i>"), admin_room_path(@room), class: "back-link" %>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= asset_path("Les Chambres.jpeg") %>')">

  <main class="container">
    <div class="py-3" style="background-color: rgba(0, 0, 0, 0.7);">

      <header>
        <h2>Modifier <%= @room.name %></h2>
      </header>

      <div class="div p-3 text-white">

        <%= simple_form_for [:admin, @room], url: admin_room_path(@room) do |f| %>
          <%# <%= f.input :name, label: "Nom" %>
          <section id="admin-room-infos-edit" class="py-1">
            <h4 class="text-center"><u>Infos</u></h4>
            <div class="row">
              <div class="col-12 col-sm-6 col-xl-3"><%= f.input :max_guests, label: "Nb de voyageurs maximum", hint: "Voyageurs de plus de 2 ans", hint_html: {class: "text-white fst-italic"}, required: false %></div>
              <div class="col-12 col-sm-6 col-xl-3"><%= f.input :bedrooms, label: "Nb de chambres" %></div>
              <div class="col-12 col-sm-6 col-xl-3"><%= f.input :beds, label: "Nb de lits" %></div>
              <div class="col-12 col-sm-6 col-xl-3"><%= f.input :bathrooms, label: "Nb de salles de bain" %></div>
            </div>
          </section>

          <section id="admin-room-infos-description" class="py-1">
            <h4 class="text-center"><u>Description</u></h4>
            <%= f.rich_text_area :description %>
          </section>

          <section id="admin-room-hours-edit" class="py-1">
            <h4 class="text-center"><u>Horaires</u></h4>
            <div class="row">
              <% { arrival_hour: "Arrivée", departure_hour: "Départ" }.each do |key, value| %>
                <div class="col-12 col-md-6"><%= f.input key, label: value, hint: "Ecrire une phrase. Format de l'heure HH:MM", hint_html: {class: "text-white fst-italic"} %></div>
              <% end %>
            </div>
          </section>

          <section id="admin-room-prices-edit" class="py-1">
            <h4 class="text-center"><u>Prix</u></h4>
            <% [{
                night_price: { label: "Prix de base / nuit en €", number: @room.room_price.night_price }
                },
                {
                medium_guests: { label: "Nb moyen de voyageurs", number: @room.room_price.medium_guests },
                night_price_medium_guests: { label: "Prix / nuit en € (Nb moyen de voyageurs)", number: @room.room_price.night_price_medium_guests }
                },
                {
                high_guests: { label: "Nb élevé de voyageurs", number: @room.room_price.high_guests },
                night_price_high_guests: { label: "Prix / nuit en € (Nb élevé de voyageurs)", number: @room.room_price.night_price_high_guests }
                }
              ].each do |hash| %>
              <div class="row">
                <% hash.each do |key, value| %>
                  <div class="col-12 col-md-6 py-2">
                    <%= label_tag key, value[:label], class: "form-label" %>
                    <%= number_field_tag key, value[:number], class: "form-control" %>
                  </div>
                <% end %>
              </div>
            <% end %>
            <div class="row">
              <div class="col-12 col-md-6 py-2">
                <%= f.input :bank_fees, label: "Frais bancaires (%)", hint: "Exemple : 2,5 (avec une virgule)", hint_html: {class: "text-white fst-italic"} %>
              </div>
              <div class="col-12 col-md-6 py-2">
                <%= f.input :caution, label: "Caution en €" %>
              </div>
            </div>
          </section>

          <section id="admin-room-reductions-edit" class="py-2">
            <h4 class="text-center"><u>Réductions</u></h4>
            <% [{
                week_duration: { label: "Nb de nuits semaine", number: @room.room_price.week_duration },
                week_reduction: { label: "Réduction semaine / nuit en €", number: @room.room_price.week_reduction }
                },
                {
                medium_duration: { label: "Nb de nuits moyenne durée", number: @room.room_price.medium_duration },
                medium_reduction: { label: "Réduction moyenne durée / nuit en €", number: @room.room_price.medium_reduction }
                },
                {
                high_duration: { label: "Nb de nuits longue durée", number: @room.room_price.high_duration },
                high_reduction: { label: "Réduction longue durée / nuit en €", number: @room.room_price.high_reduction }
                }
              ].each do |hash| %>
              <div class="row">
                <% hash.each do |key, value| %>
                  <div class="col-12 col-md-6 py-2">
                    <%= label_tag key, value[:label], class: "form-label" %>
                    <%= number_field_tag key, value[:number], class: "form-control" %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </section>

          <section id="admin-room-cleaning-fees-edit" class="py-2">
            <h4 class="text-center"><u>Frais de ménage</u></h4>
             <% [{
                small_cleaning_duration: { label: "Nb de jours ménage faible durée", number: @room.room_price.small_cleaning_duration },
                small_cleaning_fee: { label: "Frais de ménage faible durée en €", number: @room.room_price.small_cleaning_fee }
                },
                {
                medium_cleaning_duration: { label: "Nb de jours ménage moyenne durée", number: @room.room_price.medium_cleaning_duration },
                medium_cleaning_fee: { label: "Frais de ménage moyenne durée en €", number: @room.room_price.medium_cleaning_fee }
                },
                {
                high_cleaning_duration: { label: "Nb de jours ménage longue durée", number: @room.room_price.high_cleaning_duration },
                high_cleaning_fee: { label: "Frais de ménage longue durée en €", number: @room.room_price.high_cleaning_fee }
                }
              ].each do |hash| %>
              <div class="row">
                <% hash.each do |key, value| %>
                  <div class="col-12 col-md-6 py-2">
                    <%= label_tag key, value[:label], class: "form-label" %>
                    <%= number_field_tag key, value[:number], class: "form-control" %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </section>

          <section id="admin-room-calendar-edit" class="py-2">
            <h4 class="text-center"><u>Calendrier</u></h4>
            <div class="row">
              <div class="col-12 col-md-6 py-2">
                <%= f.input :default_available_slots, label: "Dates réservables par défaut", hint: "(Hors créneaux spécifiques)", hint_html: {class: "text-white fst-italic"} %>
              </div>
              <div class="col-12 col-md-6 py-2">
                <%= f.input :available_days, label: "Réservable jusqu'à ... jours avant" %>
              </div>
            </div>
          </section>

          <section id="admin-room-nights-edit" class="py-2">
            <h4 class="text-center"><u>Nuitées</u></h4>
            <div class="row">
              <div class="col-12 col-md-6 py-2">
                <%= f.input :min_nights, label: "Nb de nuits minimum", hint: "Hors conditions saisonnières", hint_html: {class: "text-white fst-italic"} %>
              </div>
              <div class="col-12 col-md-6 py-2">
                <%= f.input :max_nights, label: "Nb de nuits maximum", hint: "Mettre -1 pour ne pas fixer de maximum", hint_html: {class: "text-white fst-italic"} %>
              </div>
            </div>
          </section>

          <section id="admin-room-submit-edit" class="py-3 d-flex justify-content-center">
            <%= f.submit "Modifier", class: "button-blue" %>
          </section>
        <% end %>

      </div>
    </div>
  </main>
</div>
