<div class="container-fluid container background-back-link">
  <%= link_to raw("<i class='fa-solid fa-arrow-left-long'></i> <span>Retour</span>"), :back, class: "back-link" %>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= asset_path("#{@room.name}.png") %>')">

  <div class="container">
    <div class="py-3" style="background-color: rgba(0, 0, 0, 0.7);">

      <h2>Modifier <%= @room.name %></h2>

      <div class="div p-3 text-white">

        <%= simple_form_for [:admin, @room], url: admin_room_path(@room) do |f| %>

          <div class="py-1">
            <h4 class="text-center"><u>Infos</u></h4>
            <div class="row">
              <div class="col-12 col-sm-6 col-xl-3"><%= f.input :max_guests, label: "Nb de voyageurs maximum", hint: "Voyageurs de plus de 2 ans", required: false %></div>
              <div class="col-12 col-sm-6 col-xl-3"><%= f.input :bedrooms, label: "Nb de chambres" %></div>
              <div class="col-12 col-sm-6 col-xl-3"><%= f.input :beds, label: "Nb de lits" %></div>
              <div class="col-12 col-sm-6 col-xl-3"><%= f.input :bathrooms, label: "Nb de salles de bain" %></div>
            </div>
          </div>

          <div class="py-1">
            <h4 class="text-center"><u>Description</u></h4>
            <%= f.input :description, label: false, as: :text, input_html: { class: "long-input" } %>
          </div>

          <div class="py-1">
            <h4 class="text-center"><u>Horaires</u></h4>
            <div class="row">
              <% { arrival_hour: "Arrivée", departure_hour: "Départ" }.each do |key, value| %>
                <div class="col-12 col-md-6"><%= f.input key, label: value, hint: "Ecrire une phrase. Format de l'heure HH:MM" %></div>
              <% end %>
            </div>
          </div>

          <div class="py-1">
            <h4 class="text-center"><u>Nb de nuits min / max</u></h4>
            <div class="row">
              <% { min_nights: "Nb de nuits minimum", max_nights: "Nb de nuits maximul" }.each do |key, value| %>
                <div class="col-12 col-md-6"><%= f.input key, label: value %></div>
              <% end %>
            </div>
          </div>

          <div class="py-1">
            <h4 class="text-center"><u>Prix</u></h4>
            <% [{
                night_price: { label: "Prix de base / nuit en €", number: @room.room_price.night_price }
                },
                {
                medium_guests: { label: "Nb moyen de voyageurs", number: @room.room_price.medium_guests },
                night_price_medium_guests: { label: "Prix / nuit en € (Nb moyen de voyageurs)", number: @room.room_price.night_price_medium_guests }
                },
                {
                high_guests: { label: "Nb élevé de voyageurs", number: @room.room_price.high_guests },
                night_price_high_guests: { label: "Prix / nuit en € (Nb élevé de voyageurs)", number: @room.room_price.night_price_high_guests }
                }
              ].each do |hash| %>
              <div class="row">
                <% hash.each do |key, value| %>
                  <div class="col-12 col-md-6 py-2">
                    <%= label_tag key, value[:label], class: "form-label" %>
                    <%= number_field_tag key, value[:number], class: "form-control" %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class="py-2">
            <h4 class="text-center"><u>Réductions</u></h4>
            <% [{
                week_duration: { label: "Nb de nuits semaine", number: @room.room_price.week_duration },
                week_reduction: { label: "Réduction semaine / nuit en €", number: @room.room_price.week_reduction }
                },
                {
                medium_duration: { label: "Nb de nuits moyenne durée", number: @room.room_price.medium_duration },
                medium_reduction: { label: "Réduction moyenne durée / nuit en €", number: @room.room_price.medium_reduction }
                },
                {
                high_duration: { label: "Nb de nuits longue durée", number: @room.room_price.high_duration },
                high_reduction: { label: "Réduction longue durée / nuit en €", number: @room.room_price.high_reduction }
                }
              ].each do |hash| %>
              <div class="row">
                <% hash.each do |key, value| %>
                  <div class="col-12 col-md-6 py-2">
                    <%= label_tag key, value[:label], class: "form-label" %>
                    <%= number_field_tag key, value[:number], class: "form-control" %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class="py-2">
            <h4 class="text-center"><u>Frais de ménage</u></h4>
             <% [{
                small_cleaning_duration: { label: "Nb de jours ménage faible durée", number: @room.room_price.small_cleaning_duration },
                small_cleaning_fee: { label: "Frais de ménage faible durée en €", number: @room.room_price.small_cleaning_duration }
                },
                {
                medium_cleaning_duration: { label: "Nb de jours ménage moyenne durée", number: @room.room_price.medium_cleaning_duration },
                medium_cleaning_fee: { label: "Frais de ménage moyenne durée en €", number: @room.room_price.medium_cleaning_duration }
                },
                {
                high_cleaning_duration: { label: "Nb de jours ménage longue durée", number: @room.room_price.high_cleaning_duration },
                high_cleaning_fee: { label: "Frais de ménage longue durée en €", number: @room.room_price.high_cleaning_duration }
                }
              ].each do |hash| %>
              <div class="row">
                <% hash.each do |key, value| %>
                  <div class="col-12 col-md-6 py-2">
                    <%= label_tag key, value[:label], class: "form-label" %>
                    <%= number_field_tag key, value[:number], class: "form-control" %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class="py-3 d-flex justify-content-center">
            <%= f.submit "Modifier", class: "button-blue" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
