<div class="p-3 header-blue">
  <h1><%= @room.name %></h1>
  <div id="room-details">
    <p class="m-0"><%= @room.max_guests > 1 ? "#{@room.max_guests} voyageurs" : "1 voyageur"%> maximum</p>
    <p class="m-0">|</p>
    <p class="m-0"><%= @room.bedrooms > 1 ? "#{@room.bedrooms} chambres" : "1 chambre"%></p>
    <p class="m-0">|</p>
    <p class="m-0"><%= @room.beds > 1 ? "#{@room.beds} lits" : "1 lit"%></p>
    <p class="m-0">|</p>
    <p class="m-0"><%= @room.bathrooms > 1 ? "#{@room.bathrooms} salles de bain" : "1 salle de bain"%></p>
  </div>
</div>
