<div class="container-fluid container background-back-link">
  <%= link_to raw("<i class='fa-solid fa-arrow-left-long'></i> <span>Dashboard</span>"), admin_root_path, class: "back-link" %>
</div>

<div class="p-5 header-blue">
  <h1 class="px-5">Avis</h1>
</div>

<div class="container py-3 text-center" >
  <div class="py-3">
    <h3 class="text-blue">Ajouter un avis</h3>
    <%= simple_form_for(@review,
                      url: admin_reviews_path(@review),
                      method: :post) do |f| %>
      <%= f.input :content, as: :text, label: false, placeholder: "Contenu de l'avis", required: true %>
      <%= f.input :author, label: false, placeholder: "Auteur - date", required: true %>
      <%= f.input :room_id, label: false, collection: Room.all.map{ |r| [r.name, r.id] }, include_blank: false %>
      <%= f.button :submit, "Ajouter", class: "button-blue" %>
    <% end %>
  </div>

  <div class="separator"></div>

  <% @reviews.each do |review| %>
    <div class="px-3">
      <p><%= review.content %></p>
      <p class="fw-light"><%= review.author %></p>
      <%= link_to admin_review_path(review),
                  data: {turbo_method: :delete, turbo_confirm: "Supprimer cet avis ?"},
                  class: "admin-delete-review-icon" do %>
        <i class='fa-solid fa-trash-can'></i>
      <% end %>
      <div class="separator"></div>
    </div>
  <% end %>
</div>
