<div class="container-fluid container background-back-link">
  <%= link_to raw("<i class='fa-solid fa-circle-arrow-left'></i>"), admin_root_path, class: "back-link" %>
</div>

<header class="p-5 header-blue">
  <h1>Photos</h1>
</header>

<main>

  <section class="container p-4 row align-items-center text-center mx-auto">
    <h3>Photos (sans url)</h3>
    <% @pictures.each do |picture| %>
      <div class="col-6 col-md-4 col-lg-3 py-3">
        <%= link_to edit_admin_picture_path(picture), class: "text-decoration-none text-center" do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path picture.photos.first.key %>')">
            <%= picture.description %>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>

  <section class="container p-4 row align-items-center text-center mx-auto">
    <h3>Photos avec url</h3>
    <% @url_pictures.each do |picture| %>
      <div class="col-6 col-md-4 col-lg-3 py-3">
        <%= link_to edit_admin_picture_path(picture), class: "text-decoration-none text-center" do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path picture.photo.key %>')">
            <%= picture.description %>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>

</main>

<%= link_to "New picture", new_admin_picture_path, class: "text-decoration-none" %>
