<div class="container py-3" >
  <h1 class="text-blue text-center">Mes réservations</h1>
  <div class="row mx-0" id="index-user-bookings">

    <% if @bookings.empty? %>
      <p class="text-center">Vous n'avez pas de réservation en cours</p>
    <% end %>

    <% @bookings.each do |booking| %>
      <%= link_to booking_path(booking), class: "text-decoration-none text-black" do %>
        <div class="card-booking my-3 mx-auto">

          <% if booking.room == Room.first %>
            <%= image_tag "#{booking.room.name}/maison.png" %>
          <% elsif booking.room == Room.last %>
            <%= image_tag "#{booking.room.name}/chambre.png" %>
          <% end %>

          <div class="card-booking-infos">
            <h2 class="text-blue">Réservation de <%= booking.room.name.downcase %></h2>
            <p class=""><strong>Arrivée :</strong> <%= l(booking.arrival, format: "%A %d %B %Y à %Hh").capitalize %></p>
            <p class=""><strong>Départ :</strong> <%= l(booking.departure, format: "%A %d %B %Y à %Hh").capitalize %></p>
            <p class=""><strong>Nombre de personnes :</strong> <%= booking.guests_number %></p>
            <p class=""><strong>Nombre de nuits :</strong> <%= booking.nights %></p>
            <p class=""><strong>Prix :</strong> <%= booking.booking_price %> €</p>
            <% if booking.status == "acceptée" %>
              <i class="fa-regular fa-circle-check text-success"></i>
            <% elsif booking.status == "en attente" %>
              <i class="fa-solid fa-clock-rotate-left text-warning"></i>
            <% elsif booking.status == "refusée" %>
              <i class="fa-regular fa-circle-xmark text-danger"></i>
            <% end %>
            <div class="text-center">
              <p class="text-black text-decoration-underline">Voir le détail</a>
            </div>
          </div>

        </div>
      <% end %>
    <% end %>

  </div>


</div>
