<div class="container-fluid container background-back-link">
  <%= link_to raw("<i class='fa-solid fa-arrow-left-long'></i> <span>Retour</span>"), bookings_path, class: "back-link" %>
</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= asset_path("#{@room.name}.png") %>')">

  <main class="container">
    <div class="py-3" style="background-color: rgba(0, 0, 0, 0.4); position: relative;">
      <header>
        <%= link_to booking_chatroom_path(@booking, @booking.chatroom), id: "message-icon-user" do %>
          <i class="fa-regular fa-message"></i>
        <% end %>
        <h2 class="px-5">Ma réservation de <%= @room.name.downcase %></h2>
      </header>

      <%= render "shared/booking_show/booking_recap", booking: @booking %>

      <%= render "shared/booking_show/booking_status", booking: @booking %>

      <%= render "shared/booking_show/booking_prices", booking: @booking, room: @room, reduction_sentence: @reduction_sentence %>

    </div>
  </main>

</div>
