<div class="devise-background">
  <div class="container col-12 col-md-8 col-lg-6 devise-form">
    <h2 class="text-blue pt-3">Mot de passe oublié ?</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions mb-3">
        <%= f.button :submit, "Demander nouveau mot de passe", class: "button-blue" %>
      </div>
    <% end %>

    <div class="separator my-5"></div>
    <h3 class="text-blue">Autres actions</h3>
    <div class="row justify-content-between">
      <div class="col-12 col-md-6 p-3"><%= link_to "Se connecter", new_user_session_path, class: "button-dark" %></div>
      <div class="col-12 col-md-6 p-3"><%= link_to "Créer un compte", new_user_registration_path, class: "button-dark" %></div>
    </div>
      <div class="mx-auto p-3"><%= link_to "Email de confirmation de compte non reçu ?", new_confirmation_path(resource_name), class: "button-dark" %></div>
  </div>
</div>
