<article id="house-description" class="d-flex align-items-center py-3 my-3 row">
  <%= cl_image_tag maison.main_photo.key,
    alt: "Hébergements Toulouse - Résidence Lestang - #{maison.name}",
    class: "col-12 col-lg-6 order-lg-2 images-room-little-screen",
    loading: "lazy"
  %>
  <div class="text-center col-12 col-lg-6 order-lg-1">
    <h2 class="h2-blue-no-margin"><%= maison.name %></h2>
    <div class="separator"></div>
    <%= render "admin/rooms/edit_room_home_description_icon", room: maison %>
    <span class="home-rooms-description"><%= maison.description %></span>
    <%= link_to "VOIR #{Room.first.name.upcase}", path_maison, class: "button-blue" %>

  </div>
</article>

<article id="bedroom-description" class="d-flex align-items-center py-3 my-3 row">
  <%= cl_image_tag chambre.main_photo.key,
    alt: "Hébergements Toulouse - Résidence Lestang - #{chambre.name}",
    class: "col-12 col-lg-6 images-room-little-screen",
    loading: "lazy"
  %>
  <div class="text-center col-12 col-lg-6">
    <h2 class="h2-blue-no-margin"><%= chambre.name %></h2>
    <div class="separator"></div>
    <%= render "admin/rooms/edit_room_home_description_icon", room: chambre %>
    <span class="home-rooms-description"><%= chambre.description %></span>
    <%= link_to "VOIR #{Room.last.name.upcase}", path_chambre, class: "button-blue" %>
  </div>
</article>
