<header class="p-3 header-blue">
  <h1 class="my-3">Contact</h1>
</header>

<main class="container">
  <section id="before-booking" class="text-center mt-3 py-3">
    <div class="d-flex justify-content-center">
      <h2 class="h2-blue-no-margin px-4"><%= @before_booking_title_content.html %></h2>
      <%= render "admin/contents/edit_content_icon", content: @before_booking_title_content %>
    </div>

    <div class="separator"></div>
    <%= @before_booking_description_content.html %>
    <%= render "admin/contents/edit_content_icon", content: @before_booking_description_content %>
  </section>

  <section id="contact-form">
    <div class="d-flex justify-content-center">
      <h2 class="h2-blue-no-margin px-4"><%= @contact_form_title_content.html %></h2>
      <%= render "admin/contents/edit_content_icon", content: @contact_form_title_content %>
    </div>
    <div class="separator"></div>
    <div class="row">
      <div class="col-12 col-lg-6 p-2 mx-auto">
        <%= render "contact_form", user: @user, rooms: @rooms, contact_form_description_content: @contact_form_description_content %>
      </div>
    </div>
</section>
</main>
