<header class="p-3 header-blue">
  <h1 class="my-3">Où nous trouver</h1>
</header>

<main class="container py-3">
  <section id="localisation-infos">
    <h3 class="text-blue">Saint-Jean, Occitanie, France</h3>
      <p>
        <%= @localisation_infos_content.html %>
        <%= render "admin/contents/edit_content_icon", content: @localisation_infos_content %>
      </p>

    <div class="py-3">
      <div id ="map"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </section>

  <section id="moving-around-nearby" class="row py-3">

    <article id="moving-around" class="col-12 col-lg-7">
      <h3 class="text-blue">Se déplacer</h3>
      <p>
        <%= @moving_around_content.html %>
        <%= render "admin/contents/edit_content_icon", content: @moving_around_content %>
      </p>
    </article>

    <article id="nearby" class="col-12 col-lg-5">
      <h3 class="text-blue">A proximité*</h3>

      <div class="row">

        <div class="col-12 col-md-6 col-lg-12">
          <ul class="my-0 px-3">
            <li><a href="https://www.toulouse.aeroport.fr/" class="link-black-bold" target="_blank">Aéroport :</a> 20min</li>
            <li><a href="https://www.garesetconnexions.sncf/fr/gares-services/toulouse-matabiau" class="link-black-bold" target="_blank">Gare TGV :</a> 20min</li>
            <li><a href="https://www.domainedepreissac.fr/" class="link-black-bold" target="_blank">Domaine de Preissac :</a> 2km</li>
            <li><a href="https://www.visorando.com/randonnee-lac-de-la-tuilerie-saint-jean.html" class="link-black-bold" target="_blank">Lac de la Tuilerie :</a> 500m</li>
          </ul>
        </div>

        <div class="col-12 col-md-6 col-lg-12">
          <ul class="my-0 px-3">
            <li><a href="https://fr.wikipedia.org/wiki/Capitole_de_Toulouse" class="link-black-bold" target="_blank">Capitole :</a> 20min</li>
            <li><a href="https://www.stadetoulousain.fr/ernest-wallon" class="link-black-bold" target="_blank">Stade Ernest Wallon :</a> 15min</li>
            <li><a href="https://www.cite-espace.com/" class="link-black-bold" target="_blank">Cité de l'Espace :</a> 15min</li>
            <li><a href="https://meett.fr/" class="link-black-bold" target="_blank">Parc des Expositions :</a> 20min</li>
          </ul>
        </div>

      </div>
      <aside>
        <p class="text-muted small mt-2">* hors période de pointe </p>
      </aside>
    </article>


  </section>

  <div class="text-center py-4">
    <%= link_to "réservez maintenant".upcase, contact_path, class: "button-blue" %>
  </div>

  <% if current_user&.admin %>
    <div class="text-center">
      <%= link_to admin_pictures_path, class: "" do %>
        <i class="fa-solid fa-image fs-6 ms-2"></i>
      <% end %>
    </div>
  <% end %>

  <section id="nearby-gallery" class="row justify-content-center">

    <% path = "localisation/Hébergements-Toulouse-localisation-" %>
    <% @url_pictures.each do |url_picture| %>
      <div class="col-12 col-md-6 col-lg-4 p-2">
          <a href=<%= url_picture.url %> target="_blank">
          <%= image_tag url_picture.photo, alt: "", loading: "lazy", class:"w-100" %>
        </a>
      </div>
    <% end %>

  </section>

</main>
