<header class="p-3 header-blue">
  <h1 class="my-3">Où nous trouver</h1>
</header>

<main class="container py-3">
  <h3 class="text-blue">Saint-Jean, Occitanie, France</h3>
  <p>A proximité immédiate du <a href="https://www.domainedepreissac.fr/" class="text-blue text-decoration-none" target="_blank">Domaine de Preissac</a> (moins de 2km en voiture et environ 15-20min à pied).</p>
  <p>Quartier résidentiel à proximité immédiate du <a href="https://www.visorando.com/randonnee-lac-de-la-tuilerie-saint-jean.html" class="text-blue text-decoration-none" target="_blank">Lac de la Tuilerie</a>.</p>

  <div class="py-3">
    <div id ="map"
         data-controller="map"
         data-map-markers-value="<%= @markers.to_json %>"
         data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div class="row py-3">

    <div class="col-12 col-lg-7">
      <h3 class="text-blue">Se déplacer</h3>
      <p>
        Pour rejoindre le centre ville de Toulouse, vous pouvez utiliser :
        <br><strong>- le bus :</strong> terminus de la ligne 73 (de 6h à 21h) se situant à 100m de la maison et vous conduisant au terminus de la ligne de métro B « Borderouge ».
        <br>
        <span class="collapse" id="collapseText">
          <strong>- votre voiture :</strong> possibilité de la garer dans un des innombrables parking en centre ville ou dans un des parking relais d'une station de métro. L'accès parking est inclus dans le ticket de métro, il faut juste penser à le garder avec soi quand on quitte le parking. <strong>Attention,</strong> Tisseo n'accepte pas que l'on laisse sa voiture toute la nuit sur un de leurs parkings et facture la prestation.
        </span>
        <a class="text-black fw-bold" data-bs-toggle="collapse" href="#collapseText" role="button" aria-expanded="false" aria-controls="collapseText"
           data-controller="collapse" data-action="click->collapse#hide" >
          Lire la suite
        </a>
      </p>
    </div>

    <div class="col-12 col-lg-5">
      <h3 class="text-blue">A proximité*</h3>

      <div class="row">

        <div class="col-12 col-md-6 col-lg-12">
          <ul class="my-0 px-3">
            <li><a href="https://www.toulouse.aeroport.fr/" class="link-black-bold" target="_blank">Aéroport :</a> 20min</li>
            <li><a href="https://www.garesetconnexions.sncf/fr/gares-services/toulouse-matabiau" class="link-black-bold" target="_blank">Gare TGV :</a> 20min</li>
            <li><a href="https://www.domainedepreissac.fr/" class="link-black-bold" target="_blank">Domaine de Preissac :</a> 2km</li>
            <li><a href="https://www.visorando.com/randonnee-lac-de-la-tuilerie-saint-jean.html" class="link-black-bold" target="_blank">Lac de la Tuilerie :</a> 500m</li>
          </ul>
        </div>

        <div class="col-12 col-md-6 col-lg-12">
          <ul class="my-0 px-3">
            <li><a href="https://fr.wikipedia.org/wiki/Capitole_de_Toulouse" class="link-black-bold" target="_blank">Capitole :</a> 20min</li>
            <li><a href="https://www.stadetoulousain.fr/ernest-wallon" class="link-black-bold" target="_blank">Stade Ernest Wallon :</a> 15min</li>
            <li><a href="https://www.cite-espace.com/" class="link-black-bold" target="_blank">Cité de l'Espace :</a> 15min</li>
            <li><a href="https://meett.fr/" class="link-black-bold" target="_blank">Parc des Expositions :</a> 20min</li>
          </ul>
        </div>

      </div>

      <p class="text-muted small mt-2">* hors période de pointe </p>

    </div>

    <div class="text-center py-4">
      <%= link_to "réservez maintenant".upcase, contact_path, class: "button-blue" %>
    </div>

    <div class="row">

      <% path = "localisation/Hébergements-Toulouse-localisation-" %>
      <div class="col-12 col-md-6 col-lg-4 p-2">
        <a href="https://www.visorando.com/randonnee-lac-de-la-tuilerie-saint-jean.html" target="_blank">
          <%= image_tag "#{path}01-Lac-Tuilerie.png", alt: "Hébergements Toulouse - Résidence Lestang - Lac Tuilerie", loading: "lazy", class:"w-100" %>
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-4 p-2">
        <a href="https://fr.wikipedia.org/wiki/Capitole_de_Toulouse" target="_blank">
          <%= image_tag "#{path}02-Capitole.png", alt: "Hébergements Toulouse - Résidence Lestang - Capitole", loading: "lazy", class:"w-100" %>
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-4 p-2">
        <a href="https://www.stadetoulousain.fr/ernest-wallon" target="_blank">
          <%= image_tag "#{path}03-Stade-Ernest-Wallon.png", alt: "Hébergements Toulouse - Résidence Lestang - Stade-Ernest-Wallon", loading: "lazy", class:"w-100" %>
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-4 p-2">
        <a href="https://www.cite-espace.com/" target="_blank">
          <%= image_tag "#{path}04-Cité-Espace.png", alt: "Hébergements Toulouse - Résidence Lestang - Cité Espace", loading: "lazy", class:"w-100" %>
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-4 p-2">
        <a href="https://www.domainedepreissac.fr/" target="_blank">
          <%= image_tag "#{path}05-Domaine-Preissac.png", alt: "Hébergements Toulouse - Résidence Lestang - Domaine Preissac", loading: "lazy", class:"w-100" %>
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-4 p-2">
        <%= image_tag "#{path}06-Aéroport-Gare.png", alt: "Hébergements Toulouse - Résidence Lestang - Aéroport et Gare", loading: "lazy", class:"w-100" %>
      </div>
      <div class="col-12 col-md-6 col-lg-4 p-2">
      <a href="https://meett.fr/" target="_blank">
        <%= image_tag "#{path}07-Parc-Expositions.png", alt: "Hébergements Toulouse - Résidence Lestang - Parc Expositions", loading: "lazy", class:"w-100" %>
      </a>
      </div>


    </div>

  </div>

</main>
