<div class="container payment-review py-3">
  <header>
    <h1 class="text-blue text-center">Récapitulatif de votre réservation</h1>
    <div class="separator"></div>
  </header>

  <div class="d-flex align-items-center py-3 row">
    <%= image_tag "#{@booking.room.name}.png", alt: "Hébergements Toulouse - Résidence Lestang - #{@booking.room.name}", class: "col-12 col-lg-6 images-room-little-screen", loading: "lazy" %>
    <div class="col-12 col-lg-6 text-center">
      <div class="m-3">
        <p>Logement réservé : <%= @booking.room.name %></p>
        <p>Arrivée : <%= l(@booking.arrival, format: "%A %d %B à %Hh").capitalize %></p>
        <p>Départ : <%= l(@booking.departure, format: "%A %d %B à %Hh").capitalize %></p>
        <p>Nombre de personnes : <%= @booking.guests_number %></p>
        <p><%= @booking.night_price %> € x <%= @booking.nights %> <%= @booking.nights > 1 ? "nuits" : "nuit" %> : <%= @booking.basic_price %> €</p>
        <% if @booking.reduction.negative? %>
          <p><%= @reduction_sentence %> : <span class="text-success fw-bold"><%= @booking.reduction %> €</span></p>
        <% end %>
        <% if @booking.cleaning_fee.positive? %>
          <p>Frais de ménage : <%= @booking.cleaning_fee %> €</p>
        <% end %>
        <p>Frais bancaires : <%= @booking.bank_fees %> €</p>
        <p class="fw-bold">Total : <%= @booking.total_price %> €</p>
        <button id="pay" class="button-blue">Payer ma réservation</button>
      </div>
    </div>
  </div>
</div>



<script src="https://js.stripe.com/v3/"></script>
<script>
  const paymentButton = document.getElementById('pay');
  paymentButton.addEventListener('click', () => {
    const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
    stripe.redirectToCheckout({
      sessionId: '<%= @booking.checkout_session_id %>'
    });
  });
</script>
