<div class="container-fluid container background-back-link">
  <%= link_to raw("<i class='fa-solid fa-arrow-left-long'></i> <span>Retour</span>"), :back, class: "back-link" %>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= asset_path("#{@room.name}.png") %>')">

  <div class="container">

    <div class="p-3" style="background-color: rgba(0, 0, 0, 0.6); position: relative;">

      <%= link_to raw("<i class='fa-solid fa-trash-can'></i>"),
                admin_room_slot_path(@room, @slot),
                data: {turbo_method: :delete, turbo_confirm: "Supprimer ce créneau ?"},
                class: "text-decoration-none text-white",
                style: "font-size: 24px; position: absolute; right: 12px; top: 8px" %>

      <div class="text-center">
        <h2 class="px-1">Modifier la période : </h2>
        <h4 class="text-white m-0"><%= l(@slot.start_date, format: "%d %B %Y") %> - <%= l(@slot.end_date, format: "%d %B %Y") %>  </h4>
        <p class="m-0 <%= @slot.available ? "text-success" : "text-warning" %>"><%= @slot.available ? "Disponible" : "Indisponible" %> </p>
      </div>

      <%= simple_form_for [:admin, @slot], url: admin_room_slot_path(@room, @slot) do |f| %>
        <div class="row text-white py-3">
            <div class="col-12 col-md-6 col-lg-4">
              <%= f.input :start_date, as: :datetime, html5: true, label: "Début" %>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <%= f.input :end_date, as: :datetime, html5: true, label: "Fin" %>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <%= f.input :available, label: "Disponible" %>
          </div>
        </div>
        <div class="text-center">
          <%= f.submit "Modifier", class: "btn btn-light" %>
        </div>
      <% end %>

    </div>

  </div>

</div>
