<div class="container-fluid container background-back-link">
  <%= link_to raw("<i class='fa-solid fa-circle-arrow-left'></i>"), :back, class: "back-link" %>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= asset_path("#{@room.name}.png") %>')">

  <div class="container">
    <div class="py-3" style="background-color: rgba(0, 0, 0, 0.6); position: relative;">

      <h2 class="px-1">Créneaux de <%= @room.name.downcase %></h2>

      <div class="px-3">

        <div class="row">
          <% @slots.each do |slot| %>
            <div class="col-12 col-md-6 py-2">
              <%= link_to edit_admin_room_slot_path(@room, slot), class: "text-decoration-none" do %>
                <div>
                  <h4 class="text-white m-0"><%= l(slot.start_date, format: "%d %B") %> <span style="font-size: 0.5em">aprem</span> - <%= l(slot.end_date, format: "%d %B %Y") %> <span style="font-size: 0.5em">matin</span></h4>
                  <% notice = @room == Room.last && slot.start_date.hour == 14 ? "- maison disponible" : ""  %>
                  <p class="m-0 <%= slot.available ? "text-success" : "text-warning" %>"><%= slot.available ? "Disponible" : "Indisponible" %> <span class="text-success" style="font-size: 0.8em"><%= notice %></span></p>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="text-center py-3">
          <h5 class="m-0"><%= link_to "Nouveau créneau", new_admin_room_slot_path(@room), class: "button-blue" %></h5>
        </div>


      </div>

      <%= render partial: "admin/admin_calendar", locals: { room: @room, booking: @booking } %>

      <% other_room = @room == Room.first ? Room.last : Room.first%>
      <div class="text-center py-3">
        <%= link_to "Voir les créneaux de #{other_room.name.downcase}", admin_room_slots_path(other_room), class: "text-white fst-italic" %>
      </div>

    </div>
  </div>

</div>
