<div class="container-fluid container background-back-link">
  <%= link_to raw("<i class='fa-solid fa-arrow-left-long'></i> <span>Retour</span>"), admin_room_slots_path, class: "back-link" %>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= asset_path("#{@room.name}.png") %>')">

  <div class="container">

    <div class="p-3" style="background-color: rgba(0, 0, 0, 0.6); position: relative;">

      <h4 class="text-center text-white">Nouveau créneau pour <%= @room.name.downcase %></h4>

      <%= simple_form_for [:admin, @slot], url: admin_room_slots_path(@room) do |f| %>
        <div class="row text-white py-3">
            <div class="col-12 col-md-6 col-lg-4">
              <%= f.input :start_date, as: :date, html5: true, label: "Début"  %>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <%= f.input :end_date, as: :date, html5: true, label: "Fin" %>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <%= f.input :available, label: "Disponible" %>
          </div>
        </div>

        <div class="text-center py-3">
          <%= f.submit "Nouveau créneau", class: "btn btn-light" %>
        </div>
      <% end %>

      <% if @room.name == "La Maison" %>
        <p class="text-center fst-italic pt-3 m-0">A noter : Un nouveau créneau disponible pour la maison crée automatiquement le même créneau indisponible pour la chambre</p>
      <% end %>


    </div>

  </div>

</div>
