<div class="container-fluid container background-back-link">
  <%= link_to raw("<i class='fa-solid fa-circle-arrow-left'></i>"), admin_room_slots_path, class: "back-link" %>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= cl_image_path @room.main_photo.key %>')">

  <div class="container">

    <div class="p-3" style="background-color: rgba(0, 0, 0, 0.6); position: relative;">

      <header>
        <h4 class="text-center text-white">Nouveau créneau pour <%= @room.name.downcase %></h4>
      </header>

      <section id="new-slot-form">
        <%= simple_form_for [:admin, @slot], url: admin_room_slots_path(@room) do |f| %>
          <div class="row text-white py-3 align-items-center">
            <div class="col-12 col-md-6 col-lg-3">
              <%= f.input :start_date, as: :date, html5: true, label: "Début", hint: "Après-midi", hint_html: {class: "text-white fw-light"}  %>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <%= f.input :end_date, as: :date, html5: true, label: "Fin", hint: "Matin", hint_html: {class: "text-white fw-light"} %>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <%= f.input :available, label: "Disponible" %>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <%= f.input :airbnb_booking, label: "Réservation Airbnb" %>
            </div>
          </div>

          <div class="text-center py-3">
            <%= f.submit "Ajouter", class: "button-blue" %>
          </div>
        <% end %>
      </section>

      <% if @room == Room.first %>
        <aside>
          <p class="text-center fst-italic pt-3 m-0">A noter : Un nouveau créneau disponible pour la maison crée automatiquement le même créneau indisponible pour les chambres</p>
        </aside>
      <% end %>

    </div>

  </div>

</div>
