<% carousel_id = "carousel-room-#{id}" %>

<div id="<%= carousel_id %>" class="carousel carousel-dark slide my-3" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#<%= carousel_id %>" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <% (1..@gallery_images.count - 1).each do |index| %>
      <button type="button" data-bs-target="#<%= carousel_id %>" data-bs-slide-to="<%= index %>" aria-label="Slide <%= index + 1 %>"></button>
    <% end %>
  </div>
  <div class="carousel-inner text-center">
    <div class="carousel-item active">
      <%= image_tag "#{@gallery_images.first}", alt: "Hébergements Toulouse - #{Room.find(id).name}", class: "img-room-carousel", loading: "lazy" %>
    </div>
    <% @gallery_images.drop(1).each do |image_path| %>
      <div class="carousel-item text-center">
        <%= image_tag "#{image_path}", alt: "Hébergements Toulouse - #{Room.find(id).name}", class: "img-room-carousel", loading: "lazy" %>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#<%= carousel_id %>" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#<%= carousel_id %>" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
