<h3 class="text-blue">Les équipements</h3>

<div class="equipment">
  <h5 class="fw-bold text-blue">Salle de bain</h5>
  <p><i class="fa-solid fa-bath"></i><span class="stuff">Baignoire</span></p>
  <p><%= image_tag "icons/hairdryer.png", alt: "", width: 18 %><span class="stuff">Sèche-cheveux</span></p>
  <p><i class="fa-solid fa-broom"></i><span class="stuff">Produits de nettoyage</span></p>
  <p><i class="fa-solid fa-pump-soap"></i><span class="stuff">Shampooing</span></p>
  <p><i class="fa-solid fa-soap"></i><span class="stuff">Savon pour le corps</span></p>
  <p><i class="fa-solid fa-fire-flame-simple"></i><span class="stuff">Eau chaude</span></p>
</div>

<div class="equipment">
  <h5 class="fw-bold text-blue">Chambre et linge</h5>
  <p><%= image_tag "icons/washing-machine.png", alt: "", width: 18 %><span class="stuff">Lave-linge : dans le logement</span></p>
  <p class="with-comment"><i class="fa-solid fa-toilet-paper"></i><span class="stuff">Équipements de base</span></p>
  <p class="comment">Serviettes, draps, savon et papier toilettes</p>
  <p class="with-comment"><i class="fa-solid fa-bed"></i><span class="stuff">Draps</span></p>
  <p class="comment">Linge de lit en coton</p>
  <p><%= image_tag "icons/blinds.png", alt: "", width: 18 %><span class="stuff">Stores</span></p>
  <p><%= image_tag "icons/iron.png", alt: "", width: 18 %><span class="stuff">Fer à repasser</span></p>
  <p><%= image_tag "icons/cintre.png", alt: "", width: 18 %><span class="stuff">Étendoir à linge</span></p>
  <p><%= image_tag "icons/chest-of-drawers.png", alt: "", width: 18 %><span class="stuff">Commode</span></p>
</div>

<div class="equipment">
  <h5 class="fw-bold text-blue">Famille</h5>
  <p><i class="fa-solid fa-dice"></i><span class="stuff">Jeux de plateau</span></p>
</div>

<div class="equipment">
  <h5 class="fw-bold text-blue">Chauffage et climatisation</h5>
  <p><i class="fa-regular fa-snowflake"></i><span class="stuff">Climatisation centrale</span></p>
  <p><%= image_tag "icons/ventilation.png", alt: "", width: 18 %><span class="stuff">Ventilateurs portables</span></p>
  <p><i class="fa-solid fa-temperature-three-quarters"></i><span class="stuff">Chauffage central</span></p>
  <p><i class="fa-solid fa-temperature-arrow-up"></i><span class="stuff">Chauffage d'appoint</span></p>
</div>

<div class="equipment">
  <h5 class="fw-bold text-blue">Sécurité à la maison</h5>
  <p><%= image_tag "icons/camera.png", alt: "", width: 18 %><span class="stuff">Caméras de surveillance extérieures</span></p>
  <p><%= image_tag "icons/fire-alarm.png", alt: "", width: 18 %><span class="stuff">Détecteur de fumée</span></p>
  <p><i class="fa-solid fa-kit-medical"></i><span class="stuff">Kit de premiers secours</span></p>
</div>

<div class="equipment">
  <h5 class="fw-bold text-blue">Internet et bureau</h5>
  <p><i class="fa-solid fa-network-wired"></i><span class="stuff">Connexion Ethernet</span></p>
  <p class="with-comment"><i class="fa-solid fa-wifi"></i><span class="stuff">Vitesse du réseau wifi : 44 Mbps</span></p>
  <p class="comment">Vérifié par un test de débit. Il est possible de regarder des vidéos 4K en streaming et de participer à des appels vidéo.</span></p>
  <p class="with-comment"><%= image_tag "icons/desk.png", alt: "", width: 18 %><span class="stuff">Espace de travail dédié</span></p>
  <p class="comment">Dans un espace commun</span></p>
</div>

<div class="equipment">
  <h5 class="fw-bold text-blue">Cuisine et salle à manger</h5>
  <p class="with-comment"><i class="fa-solid fa-utensils"></i><span class="stuff">Cuisine</span></p>
  <p class="comment">Espace où les voyageurs peuvent cuisiner</p>
  <p><%= image_tag "icons/fridge.png", alt: "", width: 16 %><span class="stuff">Réfrigérateur</span></p>
  <p><%= image_tag "icons/microwave.png", alt: "", width: 18 %><span class="stuff">Four à micro-ondes</span></p>
  <p class="with-comment"><i class="fa-solid fa-kitchen-set"></i><span class="stuff">Équipements de cuisine de base</span></p>
  <p class="comment">Casseroles et poêles, huile, sel et poivre</p>
  <p class="with-comment"><i class="fa-solid fa-utensils"></i><span class="stuff">Vaisselle et couverts</span></p>
  <p class="comment">Bols, baguettes, assiettes, tasses, etc.</p>
  <p><%= image_tag "icons/freezer.png", alt: "", width: 16 %><span class="stuff">Congélateur</span></p>
  <p><%= image_tag "icons/dishwasher.png", alt: "", width: 18 %><span class="stuff">Lave-vaisselle</span></p>
  <p><%= image_tag "icons/oven.png", alt: "", width: 18 %><span class="stuff">Four</span></p>
  <p><%= image_tag "icons/kettle.png", alt: "", width: 18 %><span class="stuff">Bouilloire électrique</span></p>
  <p><%= image_tag "icons/coffee-maker.png", alt: "", width: 18 %><span class="stuff">Cafetière : cafetière filtre</span></p>
  <p><i class="fa-solid fa-champagne-glasses"></i><span class="stuff">Verres à vin</span></p>
  <p><%= image_tag "icons/toaster.png", alt: "", width: 18 %><span class="stuff">Grille-pain</span></p>
  <p><%= image_tag "icons/stove.png", alt: "", width: 18 %><span class="stuff">Plaques de cuisson</span></p>
  <p><%= image_tag "icons/rice-cooker.png", alt: "", width: 18 %><span class="stuff">Cuiseur à riz</span></p>
  <p class="with-comment"><%= image_tag "icons/barbecue.png", alt: "", width: 18 %><span class="stuff">Ustensiles de barbecue</span></p>
  <p class="comment">Barbecue, charbon, brochettes en bambou ou en métal, etc.</p>
  <p><i class="fa-solid fa-mug-hot"></i><span class="stuff">Café</span></p>
  <p><%= image_tag "icons/kitchen-table.png", alt: "", width: 18 %><span class="stuff">Table à manger</span></p>
</div>

<div class="equipment">
  <h5 class="fw-bold text-blue">Extérieur</h5>
  <p class="with-comment"><i class="fa-solid fa-leaf"></i><span class="stuff">Arrière-cour privée - Clôture intégrale</span></p>
  <p class="comment">Un espace ouvert du logement généralement recouvert d'herbe</p>
  <p><%= image_tag "icons/outdoor-furniture.png", alt: "", width: 18 %><span class="stuff">Mobilier d'extérieur</span></p>
  <p><%= image_tag "icons/outdoor-furniture.png", alt: "", width: 18 %><span class="stuff">Espace repas en plein air</span></p>
  <p><%= image_tag "icons/barbecue.png", alt: "", width: 18 %><span class="stuff">Barbecue</span></p>
</div>

<div class="equipment">
  <h5 class="fw-bold text-blue">Parking et installations</h5>
  <p><i class="fa-solid fa-car"></i><span class="stuff">Parking gratuit sur place</span></p>
  <p><i class="fa-solid fa-car"></i><span class="stuff">Parking gratuit dans la rue</span></p>
</div>

<div class="equipment">
  <h5 class="fw-bold text-blue">Non inclus</h5>
  <p><i class="fa-solid fa-tv"></i><span class="stuff indisponible">Télévision</span></p>
  <p class="with-comment"><%= image_tag "icons/smoke-detector.png", alt: "", width: 18 %><span class="stuff indisponible">Détecteur de monoxyde de carbone</span></p>
  <p class="comment">Le logement n'est pas équipé de détecteur de monoxyde de carbone.</p>
  <p><i class="fa-solid fa-door-closed"></i><span class="stuff indisponible">Entrée privée</span></p>
</div>
