<div data-guests-target="prices" >

  <p class="d-none" data-guests-target="minNights"><%= min_nights %></p>
  <p class="d-none" data-guests-target="maxNights"><%= max_nights %></p>

  <% if guests == room.room_price.medium_guests %>
    <% night_price =  room.room_price.night_price_medium_guests %>
  <% elsif guests == room.room_price.high_guests %>
    <% night_price =  room.room_price.night_price_high_guests %>
  <% else %>
    <% night_price =  room.room_price.night_price %>
  <% end %>

  <% if nights >= room.room_price.high_duration %>
    <% night_reduction = room.room_price.high_reduction %>
  <% elsif nights >= room.room_price.medium_duration %>
    <% night_reduction = room.room_price.medium_reduction %>
  <% elsif nights >= room.room_price.week_duration %>
    <% night_reduction = room.room_price.week_reduction %>
  <% else %>
    <% night_reduction = 0 %>
  <% end %>

  <% if nights > max_nights %>
    <p class="fst-italic fw-bold text-blue text-center m-0"><%= max_nights %> nuits maximum </p>

  <% elsif nights >= min_nights %>

    <% if night_reduction.negative? %>
    <h5><span class="text-gray-line-through"><%= night_price %>€</span> <%= night_price + night_reduction %>€ par nuit</h5>
    <% else %>
      <h5><%= night_price %>€ par nuit</h5>
    <% end %>

    <div class="d-flex justify-content-between">
      <p><%= night_price %>€ x <%= nights %> <%= nights > 1 ? "nuits" : "nuit" %></p>
      <p><%= night_price * nights %>€</p>
    </div>

    <% if night_reduction.negative? %>
      <div class="d-flex justify-content-between">
        <p>Location longue durée</p>
        <p class="text-success fw-semibold"><%= night_reduction * nights %>€</p>
      </div>
    <% end %>

    <% if nights >= room.room_price.high_cleaning_duration %>
      <% cleaning_fee = room.room_price.high_cleaning_fee %>
    <% elsif nights >= room.room_price.medium_cleaning_duration %>
      <% cleaning_fee = room.room_price.medium_cleaning_fee %>
    <% else nights <= room.room_price.small_cleaning_duration%>
      <% cleaning_fee = room.room_price.small_cleaning_fee %>
    <% end %>

    <% if cleaning_fee.positive? %>
      <div class="d-flex justify-content-between">
        <p>Frais de ménage</p>
        <p><%= cleaning_fee %>€</p>
      </div>
    <% end %>

    <div class="d-flex justify-content-between">
      <p>Frais bancaires (<%= room.bank_fees %> %)*</p>
      <% booking_price =  night_price * nights + night_reduction * nights + cleaning_fee %>
      <% bank_fees = (booking_price * room.bank_fees * 0.01).round(2) %>
      <p><%= bank_fees %>€</p>
    </div>

    <div class="d-flex justify-content-between">
      <p class="fw-bold">Total</p>
      <p class="fw-bold"><%= booking_price + bank_fees %>€</p>
    </div>


    <div class="d-flex justify-content-between">
      <p class="fst-italic">Caution (non encaissée)</p>
      <p class="fst-italic"><%= room.caution %>€</p>
    </div>

    <p class="fst-italic" style="font-size: 14px">* Frais bancaires non remboursés en cas d'annulation</p>

  <% else %>
    <p class="fst-italic fw-bold text-blue text-center m-0"><%= min_nights %> nuits minimum pour la période du <%= l(season_start, format: "%d %B") %> au <%= l(season_end, format: "%d %B %Y") %></p>
  <% end %>
</div>
