<h5 class="text-blue text-center">Vos coordonnées</h5>
<div class="mb-3 d-flex justify-content-between gap-3">
  <div class="w-100">
    <%= label_tag :first_name, 'Prénom', class: "form-label" %>
    <%= text_field_tag :first_name, nil, class: "form-control" %>
  </div>
  <div class="w-100">
    <%= label_tag :last_name, 'Nom', class: "form-label" %>
    <%= text_field_tag :last_name, nil, class: "form-control" %>
  </div>
</div>
<div class="mb-3">
  <%= label_tag :email, 'Email', class: "form-label" %>
  <%= email_field_tag :email, nil, class: 'form-control', placeholder: 'email@example.com' %>
</div>
<div class="mb-3">
  <%= f.submit 'Faire une demande', class: "button-blue w-100" %>
</div>
