<h3 class="text-blue">Voir les disponibilités</h3>
<div class="py-3">
  <%= simple_form_for([room, booking],
                      url: room_bookings_path(room),
                      method: :post,
                      data: { controller: 'flatpickr',
                              flatpickr_dates_disabled_value: @dates_disabled }) do |f| %>
    <div class="d-flex justify-content-between gap-3">
      <%= f.input :start_date, as: :string, label: "Arrivée", required: false, input_html: { data: { flatpickr_target: "startTime" } } %>
      <%= f.input :end_date, as: :string, label: "Départ", required: false, input_html: { data: { flatpickr_target: "endTime" }, id: 'end_date' } %>
    </div>
    <div class="row">
      <div class="col-8">
        <p class="mb-1">Voyageurs</p>
        <p class="fw-light">2 ans et plus</p>
      </div>
      <div class="col-4">
        <div class="input-group" data-controller="guests" data-guests-max-guests-value=<%= room.max_guests %>>
          <%= button_tag "-", class: "btn btn-outline-secondary rounded-circle", type: "button", data: { action: "click->guests#decrease" } %>
          <%= f.text_field :guests_number, class: "form-control guests-input", value: (params[:guests_number] || 1), min: 1, max: room.max_guests, readonly: true, data: { guests_target: "price" } %>
          <%= button_tag "+", class: "btn btn-outline-secondary rounded-circle", type: "button", data: { action: "click->guests#increase"  } %>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <% if current_user %>
        <%= f.submit 'Faire une demande', class: "button-blue w-100" %>
      <% else %>
        <%= link_to "Connectez-vous pour faire une demande", new_user_session_path, class: "button-blue w-100"%>
      <% end %>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-between">
  <p>Prix par nuit</p>
  <p>TO DO €</p>
</div>
<div class="d-flex justify-content-between">
  <p>Prix total de base</p>
  <p>TO DO €</p>
</div>
<div class="d-flex justify-content-between">
  <p>Réduction à la semaine</p>
  <p class="text-success">TO DO €</p>
</div>
<div class="d-flex justify-content-between">
  <p class="fw-bold">Total</p>
  <p>TO DO €</p>
</div>
