<div data-controller="guests" data-guests-max-guests-value=<%= room.max_guests %>>
  <script>
    var id = <%= room.id %>;
  </script>

  <h3 class="text-blue">Voir les disponibilités</h3>
  <div class="py-3">
    <%= simple_form_for([room, booking],
                        url: room_bookings_path(room),
                        method: :post,
                        data: { controller: 'flatpickr',
                                flatpickr_arrivals_disabled_value: room.arrivals_disabled,
                                flatpickr_departures_disabled_value: room.departures_disabled,
                                flatpickr_default_available_slots_value: room.default_available_slots,
                                flatpickr_arrivals_enabled_value: room.arrivals_enabled,
                                flatpickr_departures_enabled_value: room.departures_enabled,
                                flatpickr_available_days_value: room.available_days }) do |f| %>
      <div class="d-flex justify-content-between gap-3">

        <%= f.input :arrival, as: :string, label: "Arrivée", label_html: { class: "fw-bold" }, required: false,
          input_html: { data:
          {
            flatpickr_target: "startTime",
            guests_target: "arrival",
            action: "change->guests#setDates"
          },
        } %>

        <%= f.input :departure, as: :string, label: "Départ", label_html: { class: "fw-bold" }, required: false,
          input_html: { data:
            {
              flatpickr_target: "endTime",
              guests_target: "departure",
              action: "change->guests#setDates"
            },
            id: 'departure'
          }
        %>
      </div>

      <div class="row">
        <div class="col-8">
          <p class="mb-1">Voyageurs</p>
          <p class="fw-light">2 ans et plus</p>
        </div>
        <div class="col-4">
          <div class="input-group">
            <%= button_tag "-", class: "btn btn-outline-secondary rounded-circle", type: "button", data: { action: "click->guests#decrease" } %>
            <%= f.text_field :guests_number, class: "form-control guests-input", value: (params[:guests_number] || 1), min: 1, max: room.max_guests, readonly: true, data: { guests_target: "guests" } %>
            <%= button_tag "+", class: "btn btn-outline-secondary rounded-circle", type: "button", data: { action: "click->guests#increase"  } %>
          </div>
        </div>
      </div>

      <p class="text-center fw-bold" data-guests-target="instruction">Sélectionnez vos dates pour voir le prix</p>

      <div data-guests-target="partial" class="d-none" id="prices">
        <%= render "prices", room: room, nights: nights, guests: guests, min_nights: min_nights, season_start: season_start, season_end: season_end %>
      </div>

      <div class="py-3 d-none" data-guests-target="submit">
        <% if current_user %>
          <%= f.submit 'Faire une demande', class: "button-blue w-100" %>
        <% else %>
          <%= link_to "Connectez-vous pour réserver", new_user_session_path, class: "button-blue w-100"%>
        <% end %>
      </div>

    <% end %>


  </div>

</div>
