<div class="col-12 col-lg-4 short-equipment">
  <p class="fw-bold">Règlement intérieur</p>
  <p><i class="fa-solid fa-clock"></i>Arrivée <%= arrival_hour %></p>
  <p><i class="fa-solid fa-clock"></i>Départ <%= departure_hour %></p>
  <p><i class="fa-solid fa-users" style="font-size: 0.8em"></i><%= max_guests %> voyageurs maximum</p>
  <a href="" class="fw-bold text-black" data-bs-toggle="modal" data-bs-target="#rulesModal">En savoir plus</a>

  <!-- Modal Rules -->
  <div class="modal fade" id="rulesModal" tabindex="-1" aria-labelledby="rulesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <% if @room == Room.first %>
            <%= render "rules_maison",
                arrival_hour: arrival_hour,
                departure_hour: departure_hour,
                max_guests: max_guests %>
          <% elsif @room == Room.last%>
            <%= render "rules_chambre",
                arrival_hour: arrival_hour,
                departure_hour: departure_hour,
                max_guests: max_guests %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="col-12 col-lg-4 short-equipment">
  <p class="fw-bold">Sécurité et logement</p>
  <p><%= image_tag "icons/camera.png", alt: "Hébergements Toulouse - Résidence Lestang - icône sécurité", width: 16 %>Caméra de surveillance extérieure</p>
  <p><i class="fa-solid fa-triangle-exclamation"></i>Lac, rivière ou autre étendue d'eau à proximité</p>
  <p><i class="fa-solid fa-triangle-exclamation"></i>Aire de jeux ou structure d'escalade</p>
  <a href="" class="fw-bold text-black" data-bs-toggle="modal" data-bs-target="#securityModal">En savoir plus</a>


  <!-- Modal Security -->
  <div class="modal fade" id="securityModal" tabindex="-1" aria-labelledby="securityModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render "security" %>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="col-12 col-lg-4 short-equipment">
  <p class="fw-bold">Conditions d'annulation</p>
  <ul class="ps-3">
    <li class="mb-3">Annulation gratuite pendant 48 heures <br><span class="fw-light" style="font-size: 0.8em;">Sauf si réservation dans les 48 heures avant la location</span></li>
    <li class="mb-3">Jusque J-7 : Remboursement de 50 %</li>
    <li>Entre J-7 et le jour J : Aucun remboursement</li>
  </ul>
</div>
