<%= render "header" %>

<div class="container">
  <div class="text-center my-3 pt-3">
    <h1>Logements proches de Toulouse</h1>
    <div class="separator"></div>
    <p>
      Envie de rendre votre séjour à Toulouse <strong>inoubliable</strong> et <strong>paisible</strong> ?
      <br>→ Vous êtes à la recherche d'une maison tranquille et moins cher qu'un hôtel
      <br>→ Vous aimeriez connaître tous les bons plans pour profiter au maximum de votre séjour
    </p>
    <div>
      <p>Pour découvrir Toulouse, hors des sentiers battus, voici ce que nous vous proposons :</p>
      <p>- Une <strong>maison entière</strong> privative située dans un quartier calme et verdoyant, avec jusque 8 couchages</p>
      <p>- Une <strong>chambre</strong> privative située dans ce logement, partagé avec les propriétaires, avec 2 couchages</p>
    </div>
  </div>

  <div class="carousel-home-images-large-screen">
    <%= render "carousel_home_images_large_screen", first_two_home_images: @first_two_home_images, last_two_home_images: @last_two_home_images %>
  </div>

  <div class="carousel-home-images-little-screen">
    <%= render "carousel_home_images_little_screen", home_images: @home_images %>
  </div>

  <div class="d-flex align-items-center my-3 py-3 row">
    <%= image_tag "#{@maison.name}/maison 1.PNG", alt: "", class: "col-12 col-lg-6 house-image-little-screen images-room-little-screen" %>
    <div class="text-center col-12 col-lg-6">
      <h1><%= @maison.name %></h1>
      <div class="separator"></div>
      <%# <p class="home-rooms-description"><%= @maison.description</p>  %>
      <p class="home-rooms-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor</p>
      <%= link_to "VOIR LA MAISON", room_path(@maison), class: "button-blue" %>
    </div>
    <%= image_tag "#{@maison.name}/maison 1.PNG", alt: "", class: "col-12 col-lg-6 house-image-big-screen" %>
  </div>

  <div class="d-flex align-items-center my-3 py-3 row">
    <%= image_tag "#{@chambre.name}/chambre 1.PNG", alt: "", class: "col-12 col-lg-6 images-room-little-screen" %>
    <div class="text-center col-12 col-lg-6">
      <h1><%= @chambre.name %></h1>
      <div class="separator"></div>
      <%# <p class="home-rooms-description"><%= @chambre.description</p>  %>
      <p class="home-rooms-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor</p>
      <%= link_to "VOIR LA CHAMBRE", room_path(@chambre), class: "button-blue" %>
    </div>
  </div>
</div>

<%= render "carousel_home_reviews", reviews: @reviews %>
