<%= render "header" %>

<main>
  <section id="introduction" class="container">
    <div class="text-center py-4">
      <h2 class="h2-blue-no-margin px-4">Hébergements proches de Toulouse</h2>
      <div class="separator"></div>
      <p>
        Vous cherchez un hébergement <strong>confortable et convivial</strong> à Toulouse ?
        Découvrez notre <%= link_to "maison complète", room_path(@maison), class: "link-black-bold" %> ou notre <%= link_to "chambre chez l'habitant", room_path(@chambre), class: "link-black-bold" %>, situées à proximité immédiate de cette ville historique.
      </p>
    </div>

  </section>

  <section class="carousel-home-images-large-screen carousel-background-home-images">
    <div class="container">
      <%= render "rooms/carousels/carousel_home_images_large_screen", first_two_home_images: @first_two_home_images, last_two_home_images: @last_two_home_images %>
    </div>
  </section>

  <section class="carousel-home-images-little-screen">
    <div class="container">
      <%= render "rooms/carousels/carousel_home_images_little_screen", home_images: @home_images %>
    </div>
  </section>

  <section id="website-description" class="container">
    <div class="text-center py-3">
      <div>
        <h5 class="text-blue" id="subtitle-home">Que vous soyez en ville pour un voyage d'affaires, une escapade romantique ou simplement pour explorer la région, voici ce que nous proposons :</h5>
        <div class="separator"></div>
        <p>- Soit, la <%= link_to "maison entière", room_path(@maison), class: "link-black-bold" %> privative située dans un quartier calme et verdoyant, avec jusque 8 couchages</p>
        <p>- Soit, la <%= link_to "chambre", room_path(@chambre), class: "link-black-bold" %> privative située dans ce logement partagé avec les propriétaires, avec 2 couchages</p>
      </div>
    </div>
  </section>

  <section id="rooms-description" class="container">
    <%= render "shared/rooms_description", maison: @maison, chambre: @chambre, path_maison: room_path(@maison), path_chambre: room_path(@chambre) %>
  </section>

  <%= render "rooms/carousels/carousel_home_reviews", reviews: @reviews %>

  <section id="gallery" class="container">

    <div class="text-center py-4">
      <%= link_to "réservez maintenant".upcase, contact_path, class: "button-blue" %>
    </div>

    <div class="text-center py-3">
      <h2 class="h2-blue-no-margin">Toutes les photos</h2>
      <div class="separator"></div>
      <div data-controller="image-gallery">

        <div class="gallery-little-screen">
          <% @gallery_images.each do |image| %>
            <%= image_tag image, alt: "Hébergements Toulouse - Résidence Lestang - Maison et Chambre", class: "gallery-little-screen-image img-thumbnail gallery-image", loading: "lazy", data: { image_gallery_target: "image", action: "click->image-gallery#expandImage" } %>
          <% end %>
        </div>

        <div class="gallery-large-screen">
          <%= render "rooms/carousels/carousel_gallery_large_screen", gallery_images: @gallery_images %>
        </div>

      </div>
    </div>

  </section>
</main>

<%# TRY JS GALLERY %>
<%# <div class="text-center py-3">
    <h2 class="h2-blue-no-margin">Toutes les photos</h2>
    <div class="separator"></div>
    <div class="gallery" data-controller="image-gallery" data-image-gallery-target="gallery">
      <% @gallery_images.each do |image| %>
        <%# <%= image_tag image, alt: "Hébergements Toulouse - Résidence Lestang - Maison et Chambre", class: "gallery-image img-thumbnail", loading: "lazy", data: { image_gallery_target: "image", action: "click->image-gallery#expandImage" } %>
      <%# <% end %>
    <%# </div> %>
<%# </div>  %>
