<%= render "header" %>

<div class="container">
  <div class="text-center py-3 mt-3">
    <h1 class="h1-blue-no-margin">Logements proches de Toulouse</h1>
    <div class="separator"></div>
    <p>
      Envie de rendre votre séjour à Toulouse <strong>inoubliable</strong> et <strong>paisible</strong> ?
      <br>→ Vous êtes à la recherche d'une maison tranquille et moins cher qu'un hôtel
      <br>→ Vous aimeriez connaître tous les bons plans pour profiter au maximum de votre séjour
    </p>
  </div>

</div>

<div class="carousel-home-images-large-screen carousel-background-home-images">
  <div class="container">
    <%= render "carousel_home_images_large_screen", first_two_home_images: @first_two_home_images, last_two_home_images: @last_two_home_images %>
  </div>
</div>

<div class="carousel-home-images-little-screen">
  <div class="container">
    <%= render "carousel_home_images_little_screen", home_images: @home_images %>
  </div>
</div>

<div class="container">
  <div class="text-center py-3">
    <div>
      <h5 class="text-blue" id="subtitle-home">Que vous soyez en ville pour un voyage d'affaires, une escapade romantique ou simplement pour explorer la région, voici ce que nous proposons :</h5>
      <div class="separator"></div>
      <p>- Soit, la <strong>maison entière</strong> privative située dans un quartier calme et verdoyant, avec jusque 8 couchages</p>
      <p>- Soit, la <strong>chambre</strong> privative située dans ce logement partagé avec les propriétaires, avec 2 couchages</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="d-flex align-items-center py-3 my-3 row">
    <%= image_tag "#{@maison.name}/maison.png", alt: "", class: "col-12 col-lg-6 order-lg-2 images-room-little-screen" %>
    <div class="text-center col-12 col-lg-6 order-lg-1">
      <h1 class="h1-blue-no-margin"><%= @maison.name %></h1>
      <div class="separator"></div>
      <p class="home-rooms-description"><%= @maison.description%></p>
      <%= link_to "VOIR LA MAISON", room_path(@maison), class: "button-blue" %>
    </div>
  </div>

  <div class="d-flex align-items-center py-3 my-3 row">
    <%= image_tag "#{@chambre.name}/chambre.png", alt: "", class: "col-12 col-lg-6 images-room-little-screen" %>
    <div class="text-center col-12 col-lg-6">
      <h1 class="h1-blue-no-margin"><%= @chambre.name %></h1>
      <div class="separator"></div>
      <p class="home-rooms-description"><%= @chambre.description %></p>
      <%= link_to "VOIR LA CHAMBRE", room_path(@chambre), class: "button-blue" %>
    </div>
  </div>

</div>

<%= render "carousel_home_reviews", reviews: @reviews %>

<div class="container">

  <div class="text-center py-4">
    <%= link_to "réservez maintenant".upcase, contact_path, class: "button-blue" %>
  </div>

  <div class="text-center py-3">
    <h1 class="h1-blue-no-margin">Toutes les photos</h1>
    <div class="separator"></div>
   <div class="gallery" data-controller="image-gallery" data-image-gallery-target="gallery">
      <% @gallery_images.each do |image| %>
        <%= image_tag image, alt: "", class: "gallery-image img-thumbnail", data: { image_gallery_target: "image" } %>
      <% end %>
    </div>
  </div>

</div>
