<div class="p-3 header-blue">
  <h1><%= @room.name %></h1>
  <div id="room-details">
    <p class="m-0"><%= @room.max_guests > 1 ? "#{@room.max_guests} voyageurs" : "1 voyageur"%> maximum</p>
    <p class="m-0">|</p>
    <p class="m-0"><%= @room.bedrooms > 1 ? "#{@room.bedrooms} chambres" : "1 chambre"%></p>
    <p class="m-0">|</p>
    <p class="m-0"><%= @room.beds > 1 ? "#{@room.beds} lits" : "1 lit"%></p>
    <p class="m-0">|</p>
    <p class="m-0"><%= @room.bathrooms > 1 ? "#{@room.bathrooms} salles de bain" : "1 salle de bain"%></p>
  </div>
</div>

<div class="container">

  <%= render "carousel_pictures", id: @room.id %>

  <div class="row">

    <div class="room-description col-12 col-lg-7 py-3">
      <% if @room == Room.first %>
        <%= render "short_description_maison" %>
      <% elsif @room == Room.last %>
        <%= render "short_description_chambre" %>
      <% end %>
      <a href="" class="fw-bold text-black" data-bs-toggle="modal" data-bs-target="#descriptionModal">En savoir plus</a>

      <!-- Modal -->
      <div class="modal fade" id="descriptionModal" tabindex="-1" aria-labelledby="descriptionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <% if @room == Room.first %>
                <%= render "description_maison" %>
              <% elsif @room == Room.last %>
                <%= render "description_chambre" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div class="dates p-3 col-12 col-lg-5">
      <%= render "reservation", room: @room, booking: @booking, nights: @nights, guests: @guests %>
    </div>

  </div>

  <div class="py-3">
    <h3 class="text-blue">Où vous dormirez</h3>
    <div class="row sleep">
      <%= render "sleep", sleep_images: @sleep_images %>
    </div>
  </div>

  <div class="row">

    <div class="room-equipment col-12 col-lg-8 py-3">
      <h3 class="text-blue">Les équipements</h3>
      <% if @room == Room.first %>
        <%= render "short_equipment_maison" %>
      <% elsif @room == Room.last %>
        <%= render "short_equipment_chambre" %>
      <% end %>
      <a href="" class="button-blue" data-bs-toggle="modal" data-bs-target="#equipmentModal">Afficher tous les équipements</a>

      <!-- Modal Equipments -->
      <div class="modal fade" id="equipmentModal" tabindex="-1" aria-labelledby="equipmentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <% if @room == Room.first %>
                <%= render "equipment_maison" %>
              <% elsif @room == Room.last %>
                <%= render "equipment_chambre" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="the-plus p-3 col-12 col-lg-4">
      <h3 class="text-blue">Les vrais +</h3>
      <% if @room == Room.first %>
        <%= render "more_maison" %>
      <% elsif @room == Room.last %>
        <%= render "more_chambre" %>
      <% end %>
    </div>

  </div>

  <div class="py-3">
    <h3 class="text-blue"><%= "à".upcase %> savoir</h3>
    <div class="row to-know">
      <%= render "to_know",
        arrival_hour: @room.arrival_hour,
        departure_hour: @room.departure_hour,
        max_guests: @room.max_guests %>
    </div>
  </div>

  <div class="text-center py-4">
    <%= link_to "réservez maintenant".upcase, contact_path, class: "button-blue" %>
  </div>

</div>
