<div class="container">
  <div class="my-3">
    <h1><%= @room.name %></h1>
    <div class="d-flex gap-3">
      <%= @room.max_guests > 1 ? "#{@room.max_guests} voyageurs" : "1 voyageur"%> maximum -
      <%= @room.bedrooms > 1 ? "#{@room.bedrooms} chambres" : "1 chambre"%> -
      <%= @room.beds > 1 ? "#{@room.beds} lits" : "1 lit"%> -
      <%= @room.bathrooms > 1 ? "#{@room.bathrooms} salles de bain" : "1 salle de bain partagée"%>
    </div>
  </div>

  <%= render "carousel_pictures", id: @room.id %>

  <div class="row">

    <div class="room-description col-12 col-lg-7 my-3"
        data-controller="description">
      <% if @room.name == "La Maison" %>
        <%= render "short_description_maison" %>
      <% elsif @room.name == "La Chambre" %>
        <%= render "short_description_chambre" %>
      <% end %>
      <a href="" class="" data-bs-toggle="modal" data-bs-target="#exampleModal">En savoir plus</a>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <% if @room.name == "La Maison" %>
                <%= render "description_maison" %>
              <% elsif @room.name == "La Chambre" %>
                <%= render "description_chambre" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div class="dates my-3 col-12 col-lg-5">
      <h3>Voir les disponibilités</h3>
    </div>

  </div>

  <div class="my-4">
    <h3>Où vous dormirez</h3>
    <div class="sleep">
      <% if @room.name == "La Maison" %>
        <%= render "sleep_maison", sleep_images: @sleep_image_paths %>
      <% elsif @room.name == "La Chambre" %>
        <%= render "sleep_chambre", sleep_images: @sleep_image_paths %>
      <% end %>
    </div>
  </div>

  <div class="my-4">
    <h3>Ce que propose ce logement</h3>
    <% if @room.name == "La Maison" %>
      <%= render "equipment_maison" %>
    <% elsif @room.name == "La Chambre" %>
      <%= render "equipment_chambre" %>
    <% end %>

</div>

<div class="d-none">
  Prix par jour : <%= @room.price_per_day %>
  Arrivée <%= @room.arrival_hour %>
  Départ <%= @room.departure_hour %>
</div>
