<% content_for :meta_title, "#{@room.name}" %>
<% content_for :meta_description, @room.description.body.to_plain_text %>
<%# <% content_for :meta_image, "#{@room.name}" %>

<header class="p-3 header-blue">
  <h1><%= @room.name %></h1>
  <div id="room-details">
    <p class="m-0"><%= @room.max_guests > 1 ? "#{@room.max_guests} voyageurs" : "1 voyageur"%> maximum</p>
    <p class="m-0">|</p>
    <p class="m-0"><%= @room.bedrooms > 1 ? "#{@room.bedrooms} chambres" : "1 chambre"%></p>
    <p class="m-0">|</p>
    <p class="m-0"><%= @room.beds > 1 ? "#{@room.beds} lits" : "1 lit"%></p>
    <p class="m-0">|</p>
    <p class="m-0"><%= @room.bathrooms > 1 ? "#{@room.bathrooms} salles de bain" : "1 salle de bain"%></p>
  </div>
</header>

<main class="container">

  <%= render "rooms/carousels/carousel_pictures", room: @room %>
  <div class="text-center">
    <%= render "admin/rooms/edit_room_pictures_icon", room: @room %>
  </div>
  <div class="row">

    <section class="room-description col-12 col-lg-7 py-3">
      <div class="d-flex justify-content-between">
        <h3 class="text-dark-blue"><%= @room.description_title %></h3>
        <%= render "admin/rooms/edit_room_contents_icon", room: @room %>
      </div>
      <%= @room.detailed_short_description %>
      <br/>
      <a href="" class="fw-bold text-black" data-bs-toggle="modal" data-bs-target="#descriptionModal">En savoir plus</a>

      <!-- Modal -->
      <div class="modal fade" id="descriptionModal" tabindex="-1" aria-labelledby="descriptionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h3 class="text-dark-blue"><%= @room.description_title %></h3>
              <%= @room.detailed_long_description %>
            </div>
          </div>
        </div>
      </div>

    </section>

    <section id="reservation" class="p-3 col-12 col-lg-5">
      <%= render "reservation", room: @room,
        booking: @booking, nights: @nights,
        guests: @guests, min_nights: @min_nights,
        season_start: @season_start, season_end: @season_end,
        max_nights: @max_nights %>
    </section>

  </div>

  <section id="where-you-sleep" class="py-3">
    <h3 class="text-blue">Où vous dormirez <%= render "admin/rooms/edit_room_pictures_icon", room: @room %></h3>
    <div class="row sleep">
      <%= render "sleep", room: @room %>
    </div>

  </section>

  <div class="row">

    <section id="equipments" class="room-equipment col-12 col-lg-8 py-3">
      <h3 class="text-blue">Les équipements</h3>
      <% if @room == Room.first %>
        <%= render "rooms/equipments/short_equipment_maison" %>
      <% elsif @room == Room.last %>
        <%= render "rooms/equipments/short_equipment_chambre" %>
      <% end %>
      <a href="" class="button-blue" data-bs-toggle="modal" data-bs-target="#equipmentModal">Afficher tous les équipements</a>

      <!-- Modal Equipments -->
      <div class="modal fade" id="equipmentModal" tabindex="-1" aria-labelledby="equipmentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <% if @room == Room.first %>
                <%= render "rooms/equipments/equipment_maison" %>
              <% elsif @room == Room.last %>
                <%= render "rooms/equipments/equipment_chambre" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </section>

    <section id="the-plus" class="p-3 col-12 col-lg-4">
      <h3 class="text-blue">Les vrais +</h3>
      <%= @room.the_plus %>
    </section>

  </div>

  <section id="to-know-more" class="py-3">
    <h3 class="text-blue"><%= "à".upcase %> savoir</h3>
    <div class="row to-know">
      <%= render "rooms/to_know/to_know",
        arrival_hour: @room.arrival_hour,
        departure_hour: @room.departure_hour,
        max_guests: @room.max_guests %>
    </div>
  </section>

  <div class="text-center py-4">
    <%= link_to "réservez maintenant".upcase, contact_path, class: "button-blue" %>
  </div>

</main>
