<h1><%= @room.name %></h1>
<%= @room.max_guests %> voyageurs maximum
Prix par jour : <%= @room.price_per_day %>
Arrivée <%= @room.arrival_hour %>
Départ <%= @room.departure_hour %>
<%= @room.bedrooms %> chambres
<%= @room.beds %> lits
<%= @room.bathrooms %> salles de bain
