<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Résidence Lestang - Demande de réservation envoyée</h4>
    <p>Votre demande de réservation a bien été envoyée.</p>
    <p><strong>Rappel de votre demande : </strong></p>
    <ul>
      <li>Logement : <%= @room.name %></li>
      <li>Arrivée : <%= l(@booking.arrival, format: "%A %d %B à %Hh").capitalize %></li>
      <li>Départ : <%= l(@booking.departure, format: "%A %d %B à %Hh").capitalize %></li>
      <li>Nombre de personnes : <%= @booking.guests_number %></li>
      <li>Prix total : <%= @booking.total_price %> €</li>
    </ul>

    <p><%= link_to "Voir ma réservation", booking_url(@booking) %></p>

    <p>Merci de votre intérêt pour notre logement et à bientôt ! </p>
  </body>
</html>
