<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Résidence Lestang - Demande de réservation <%= @status %></h4>
    <p>Votre demande de réservation a été <%= @status %>.</p>
    <p><strong>Rappel de votre demande : </strong></p>
    <ul>
      <li>Logement : <%= @room.name %></li>
      <li>Arrivée : <%= l(@booking.arrival, format: "%A %d %B à %Hh").capitalize %></li>
      <li>Départ : <%= l(@booking.departure, format: "%A %d %B à %Hh").capitalize %></li>
      <li>Nombre de personnes : <%= @booking.guests_number %></li>
      <li>Prix total : <%= @booking.booking_price %> €</li>
    </ul>

    <p><%= link_to "Voir ma réservation", booking_url(@booking) %></p>

    <% if @status == "acceptée" %>
      <p>Voici nos coordonnées pour nous contacter : <%= @tel_admin %> </p>
      <p>Merci et à bientôt !</p>
    <% elsif @status == "refusée" %>
      <p>Nous sommes désolés, mais votre demande n'a pas pu être acceptée.</p>
      <p>N'hésitez pas à nous contacter pour plus d'informations.</p>
    <% end %>
  </body>
</html>
