<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Nouveau message depuis le site Résidence Lestang</h4>
    <p>Question concernant : <%= @room.name %></p>
    <p><strong><%= @user.first_name.capitalize %> <%= @user.last_name.upcase %></strong> vous a envoyé un message : </p>
    <p> " <%= @message %> " </p>
    <p> Vous pouvez lui répondre à l'adresse suivante : <%= @user.email %> </p>
  </body>
</html>
