<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Résidence Lestang - Nouveau message de <%= @sender.first_name.capitalize %> <%= @sender.last_name.upcase %></h4>
    <p><strong>Vous avez reçu un nouveau message :</strong></p>
    <p><%= @message.content %></p>

    <p><strong>Rappel de la réservation : </strong></p>
    <ul>
      <li>Logement : <%= @booking.room.name %></li>
      <li>Arrivée : <%= l(@booking.arrival, format: "%A %d %B à %Hh").capitalize %></li>
      <li>Départ : <%= l(@booking.departure, format: "%A %d %B à %Hh").capitalize %></li>
      <li>Nombre de personnes : <%= @booking.guests_number %></li>
      <li>Prix total : <%= @booking.booking_price %> €</li>
      <li>Statut : <%= @booking.status %></li>
    </ul>

    <p><%= link_to "Cliquez ici pour lui répondre", booking_chatroom_url(@booking, @booking.chatroom) %></p>
  </body>
</html>
