<div class="container-fluid container background-back-link">
  <%= link_to raw("<i class='fa-solid fa-circle-arrow-left'></i>"), :back, class: "back-link" %>
</div>

<header class="p-5 header-blue">
  <h1><%= @url_picture.description %></h1>
</header>

<main class="container py-3">
  <%= cl_image_tag @url_picture.photo.key, height: 200 %>

  <div class="py-3 row justify-content-center">
    <%= simple_form_for @url_picture, url: admin_url_picture_path(@url_picture), html: { class: "col-lg-4 col-12" } do |f| %>
      <%= f.input :description, label: "Description" %>
      <%= f.input :url, label: "Lien" %>
      <%= f.input :photo, as: :file %>
      <div class="text-center">
        <%= f.submit "Modifier", class: "button-blue" %>
      </div>
    <% end %>
  </div>

</main>
