<div class="container-fluid container background-back-link">
  <%= link_to raw("<i class='fa-solid fa-circle-arrow-left'></i>"), admin_user_path(@user), class: "back-link" %>
</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= asset_path("admin/people.jpg") %>')">

  <main class="container">
    <div class="py-3" style="background-color: rgba(0, 0, 0, 0.4);">

      <header>
        <h3 class="px-5 text-center text-white">Modifier l'utilisateur</h3>
      </header>

      <section id="admin-edit-user" class="div p-3 text-white">

        <%= simple_form_for [:admin, @user], url: admin_user_path(@user) do |f| %>
          <div class="row">
            <div class="col-12 col-sm-6">
              <%= f.input :first_name, label: 'Prénom' %>
            </div>
            <div class="col-12 col-sm-6">
              <%= f.input :last_name, label: 'Nom' %>
            </div>
          </div>
          <div class="py-3 d-flex justify-content-center">
            <%= f.submit "Modifier", class: "button-blue" %>
          </div>
        <% end %>

      </section>

    </div>
  </main>

</div>
