<div class="container-fluid container background-back-link">
  <%= link_to raw("<i class='fa-solid fa-circle-arrow-left'></i>"), admin_root_path, class: "back-link" %>
</div>

<div class="p-5 header-blue">
  <h1 class="px-5">Messages</h1>
</div>

<div class="container py-3" >
  <div class="card-users">
    <% @users.each do |user| %>
      <div class="card-user my-3">
        <%= link_to admin_user_path(user), class: "text-decoration-none text-black" do %>
          <div class="card-user-infos">
            <h2><%= user.first_name.capitalize %> <%= user.last_name.upcase %></h2>
            <p>Email : <%= user.email %></p>
            <% if user.bookings.count.positive? %>
              <% if user.bookings.where(status: "acceptée").count.positive? %>
                <p>Réservations acceptées : <%= user.bookings.where(status: "acceptée").count %></p>
              <% end %>
              <% if user.bookings.where(status: "en attente").count.positive? %>
                <p>Réservations en attente : <%= user.bookings.where(status: "en attente").count %></p>
              <% end %>
              <% if user.bookings.where(status: "refusée").count.positive? %>
                <p>Réservations refusées : <%= user.bookings.where(status: "refusée").count %></p>
              <% end %>
            <% else %>
              <p>Aucune réservation</p>
            <% end %>
          </div>
        <% end %>
      </div>

    <% end %>
  </div>

</div>
