<div class="container-fluid container background-back-link">
  <%= link_to raw("<i class='fa-solid fa-circle-arrow-left'></i>"), admin_root_path, class: "back-link" %>
</div>

<header class="p-5 header-blue">
  <h1>Conditions saisonnières</h1>
</header>

<main style="
  background-image: url('<%= asset_path("admin/seasons") %>');
  background-position: center;
  background-size: cover">

  <div class="container row align-items-center dashboard">

    <% Room.all.order("id ASC").each do |room| %>

      <div class="col-12 py-2">
        <%= link_to admin_room_seasons_path(room), class: "text-decoration-none" do %>
          <div class="card-category" style="max-width: 400px; margin-inline: auto; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path room.main_photo.key %>')">
            <%= room.name %>
          </div>
          <% end %>
      </div>

    <% end %>
  </div>

</main>
