<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>

    <%# PWA %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= render 'shared/ios_pwa_links' %>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= meta_image %>">
    <meta property="og:description" content="<%= meta_description %>">
    <meta property="og:site_name" content="<%= meta_title %>">


    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>

    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.8/dist/trix.css">
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.8/dist/trix.umd.min.js"></script>

    <%# Pour le déploiement : Remplacez "123456" par un nombre aléatoire ou un identifiant unique pour chaque déploiement. %>
    <%# Recompiler les assets et  les déployer à nouveau sur Heroku en exécutant bundle exec rails assets:precompile et en poussant les modifications sur Heroku. %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# <%= stylesheet_link_tag "application-123456", media: "all", "data-turbo-track": "reload" %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%# <%= javascript_include_tag "application-123456", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if request.path.start_with?("/admin") %>
      <%= render "shared/navbar_admin" %>
    <% else %>
      <%= render "shared/navbar" %>
    <% end %>
    <%= turbo_frame_tag :flashes do %>
      <%= render "shared/flashes" %>
    <% end %>
    <%# <%= render_breadcrumbs :separator => ' / '%>
    <%= yield %>
      <div data-controller="up-button">
        <a href="" id="scroll-to-top-button" class="d-none"
         data-up-button-target="button">
          <i class="fa-solid fa-circle-arrow-up"></i>
        </a>
      </div>
    <%= render "shared/footer" %>
  </body>
</html>
